<div style="background-image:url(../../assets/images/abt.png); height: 1200px; width: 1353px;" >
    





    <div class="main">
       <div class="hey">
        <h1 style="border: 10px;
        color: white; text-align: center;">notification</h1>
          
        <div class="noti">
            
                <img src="../../assets/images/man.png" style="margin-top: 7px;
                margin-left: 104px;
                border-radius: 101px;">  
               
             <h1 class="lore">Lorem Ipsum</h1>
             <h1 class="lore" style="height: 9px;top: 54px; width: 424px;  font-size: small;;">Lorem Ipsum has requested to view your photo</h1>
              
             <button class="btn" style="font-family: 'Poppins';
             font-style: normal;color: #FFFFFF;font-weight:bolder"> confirm</button>

              <button class="btn" style="font-family: 'Poppins';background-color:aliceblue;
              font-style: normal;color:#276678;font-weight:bolder ;margin-left: 17px;"> Delete</button>
            </div>

<div class="noti" style="margin-top: 186px;
height: 50px;">

<img src="../../assets/images/man.png" class="imgs">  
<h1 class="lore" style="left: 125px; top: 10px;">Lorem Ipsum</h1>

<h1 class="lore ha">Lorem Ipsum accepted to view</h1>
</div>

              
<div class="noti" style="margin-top: 249px;
height: 50px;">

<img src="../../assets/images/man.png" class="imgs">  
<h1 class="lore" style="left: 125px; top: 10px;">Lorem Ipsum</h1>

<h1 class="lore ha">Lorem Ipsum accepted to view</h1>

</div>



<div class="noti" style="margin-top: 321px;">
            
    <img src="../../assets/images/man.png" style="    margin-top: 7px;
    margin-left: 104px;
    border-radius: 101px;">  
   
 <h1 class="lore">Lorem Ipsum</h1>
 <h1 class="lore" style="height: 9px;top: 54px; width: 424px;  font-size: small;;">Lorem Ipsum has requested to view your photo</h1>
  
 <button class="btn" style="font-family: 'Poppins';
 font-style: normal;color: #FFFFFF;font-weight:bolder"> confirm</button>

  <button class="btn" style="font-family: 'Poppins';background-color:aliceblue;
  font-style: normal;color:#276678;font-weight:bolder ;margin-left: 17px;"> Delete</button>
</div>

<div class="noti" style= "margin-top: 514px;">
            
    <img src="../../assets/images/man.png" style="    margin-top: 7px;
    margin-left: 104px;
    border-radius: 101px;">  
   
 <h1 class="lore">Lorem Ipsum</h1>
 <h1 class="lore" style="height: 9px;top: 54px; width: 424px;  font-size: small;;">Lorem Ipsum has requested to view your photo</h1>
  
 <button class="btn" style="font-family: 'Poppins';
 font-style: normal;color: #FFFFFF;font-weight:bolder"> confirm</button>

  <button class="btn" style="font-family: 'Poppins';background-color:aliceblue;
  font-style: normal;color:#276678;font-weight:bolder ;margin-left: 17px;"> Delete</button>
</div>











       </div>
       
        
        
        
        
        
        
        
        
        
        
        
        
        </div>



</div>


