<app-header></app-header>
<section class="about">
  <div class="progress">
    <div  class="progress-bar" role="progressbar" style="width: 80%;"  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
  </div>
  <br>
  <br>
    <div class="container abtcont">
      
        
            
      
        
                   
                   
        
        <div class="box">
            
               
               
          <p>Religious Informations</p>
             <div class="col">
                <div class="inp">
                    <p>Religion</p>                    
                  <div class="dropdown in">
                    <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <b>Select</b>
                    </button>                    
                    <div class="dropdown-menu" aria-labelledby="Select">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                          </div>
              
              <div class="inp">
                <p>Class</p>                    
              <div class="dropdown in">
                <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <b>Select</b>
                </button>                    
                <div class="dropdown-menu" aria-labelledby="Select">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
                      </div>
                      <div class="inp">
                        <p>Religiousness</p>                    
                      <div class="dropdown in">
                        <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <b>Select</b>
                        </button>                    
                        <div class="dropdown-menu" aria-labelledby="Select">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                              </div>   
             </div>
             <div class="col">       
              <div class="inp">
                <p>Madrassa Education</p>
                
                <div class="dropdown in">
                  <button class=" dropdown-toggle sl" type="button" id="Select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <b> Select</b>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="Se">
                    <a class="dropdown-item" href="#">Something3</a>
                    <a class="dropdown-item" href="#">something2</a>
                    <a class="dropdown-item" href="#">something</a>
                  </div>
                </div>
                </div>
                <div class="inp">
                
                
                </div>
                </div>
                                
                <button class="bt"> Next </button>
              
                
              
        </div>
                             
        </div>
        
              
           

        
        
    

</section>
<section class="" style="background-color: #276678;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box d-flex ">
            <div class="icon ic1">
              <i class="fa fa-phone icn1" aria-hidden="true" style="font-size:20px;"></i>
            </div>
            
            <p class="description text-white">Helpline 24/7 <br><span class="card-text text-white">+9100000000</span></p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box d-flex ">
            <div class="icon ic1">
              <i class="fa fa-envelope-o icn1" aria-hidden="true" style="font-size:20px;"></i>
            </div>
            <p class="description text-white"> Send your queries <br><span class="card-text text-white">matrimony@gmail.com</span></p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box d-flex ">
            <div class="icon ic1">
              <i class="fa fa-globe icn1" aria-hidden="true" style="font-size:20px;"></i>
            </div>
            <p class="description text-blue text-white">Head Office <br><span class="card-text text-white">kerala
              <br>calicut 96006</span></p>
          </div>
        </div>
      </div>
    </div>
</section>
<app-footer></app-footer>
