.container {
    /* box-sizing: border-box; */
    /* width: 100%; */
    /* padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; */
    /* margin: left 0; */
    /* padding: 100px; */
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.wrapper {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #1687A7;
}
header {
    background: #1687A7;
}
a{
    color: white;
}
.navbar{
    background: #1687A7; 
    color: white; 
}
.navbar-light .navbar-brand {
    color: white;
}
.navbar-brand{
color: white;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: white;
}
header {
    position: relative;
    z-index: 99;
    padding: 19px 0;
    transition: all .25s ease;
}
header .menu-row {
    position: relative;
    display: flex;
    align-items: center;
}
header .menu-row .menu-content {
    display: flex;
    align-items: center; 
}
header .menu-row .menu-content .logo-wrap {
    transition: all .5s ease;
}
a {
    color: #1a75e8;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
img {
    vertical-align: middle;
    border-style: none;
}
header .menu-row .menu-content .logo-wrap img {
    max-width: 165px;
}
header .menu-row .menu-content .menu-wrap {
    width: 100%;
}
header .menu-row .menu-content .menu-wrap .menu-mobile-icon {
    display: none;
}
header .menu-row .menu-content .menu-wrap .menu-mobile-icon #toggle-icon {
    width: 22px;
    height: 20px;
    position: relative;
    transform: rotate(0deg);
    transition: all .5s ease;
    cursor: pointer;
}
header .menu-row .menu-content .menu-wrap .menu-mobile-icon #toggle-icon span:nth-child(1) {
    top: 0;
}
header .menu-row .menu-content .menu-wrap .menu-mobile-icon #toggle-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #066759;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all .25s ease;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
header .menu-row .menu-content .menu-wrap .main-navigation .nav .main-menu-list {
    margin: 0 0 0 70px;
}
header .menu-row .menu-content .menu-wrap .main-navigation .nav .main-menu-list li {
    display: inline-block;
}
header .menu-row .menu-content .menu-wrap .main-navigation .nav .main-menu-list li a {
    color: #fff;
    padding: 12px;
}
header .menu-row .menu-content .menu-wrap .main-navigation .nav .main-menu-list li a .active
{
    background: #276678;
border-radius: 17px;
}
.button-wrap{
    float: right;
}
header .menu-row .button-wrap {
    color: #fff;
}
header .menu-row .button-wrap .button {
    margin-left: 25px;
}

.button.white-button {
    margin: 6px 0px 0px 6px;
    background: #F6F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #1687A7;
    border:none;
}
.button {
    font-weight: 500;
   
    border-radius: 17px;
    display: inline-block;
    padding: 7px 20px;
    min-width: 100px;
    text-align: center;
   
    transition: all .3s ease-in-out;
}
.btn1{
    background: #F6F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #1687A7;   
}
header .menu-row .menu-content .menu-wrap .menu-mobile-icon #toggle-icon span:nth-child(3) {
    top: 8px;
}
.pushmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
    transition: all .25s ease;
}
.navbar-light .navbar-toggler {
    background: #F6F5F5;
    box-shadow: 0px 1.44444px 1.44444px rgb(0 0 0 / 25%);
   
}
label{
    color:white;
}
/* banner section */
.banner-section {
    /* background-image: url("../assets/images/bnr2.jpg"); */
    background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: cover; */
    /* background: #def4e9; */
}
.banner-section {
    padding: 30px 0 0;
}
.banner-section h1 {
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 30px;
    color: white;
}
.banner-section .form-wrap {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 50px;
    background: rgba(172, 181, 184, 0.01);
    box-shadow: inset 7.66417px -7.66417px 7.66417px rgb(137 145 147 / 22%), inset 15.3283px -15.3283px 15.3283px rgb(255 255 255 / 22%), inset -7.66417px 7.66417px 7.66417px rgb(255 255 255 / 22%), inset -15.3283px 15.3283px 15.3283px rgb(137 145 147 / 22%);
    backdrop-filter: blur(51.3499px);
    border-radius: 27.5033px;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.banner-section .form-wrap .shadow::before {
    content: "";
    position: absolute;
    left: 18px;
    top: 35px;
    right: 18px;
    bottom: 18px;
    /* background: #066759; */
    -webkit-filter: blur(19px);
    -moz-filter: blur(19px);
    -ms-filter: blur(19px);
    -o-filter: blur(19px);
    filter: blur(19px);
    z-index: 1;
    border-radius: 20px;
}
.banner-section .form-wrap .form-container {
    padding: 30px 30px 15px;
    border-radius: 20px;
    z-index: 2;
}
.form-control {
    height: 36px;
    border: 1px solid #ccc;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 14px;
}
/* label {
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    color: #777;
} */
.select-wrap::after {
    /* content: ""; */
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: 1px;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.phone-row {
    margin-left: -5px;
    margin-right: -5px;
}
.phone-row [class*=col] {
    padding-left: 5px;
    padding-right: 5px;
}
.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}
.select-wrap {
    position: relative;
}
.select-wrap select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.phone-row .isd-input {
    width: 55px;
}
.select-wrap::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: 1px;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

/* banner section ends */

/* media queris */
@media screen and (max-width: 600px) {
    .button {
        font-weight: 500;
        border-radius: 17px;
        display: inline-block;
        padding: 1px 9px;
     min-width: 16px; 
        text-align: center;
        transition: all .3s ease-in-out;
    }
    label{
        font-size: 10px;
    }
}
@media (min-width: 576px)
{
.container {
    max-width: 540px;
}
}
@media (min-width: 768px)
{
.container {
    max-width: 720px;
}
}

@media (min-width: 992px)
{
.container {
    max-width: 960px;
}
}
@media (min-width: 1200px)
{
.container {
    max-width: 1140px;
}
}
@media (max-width: 1199.98px)
{
header .menu-row .menu-content .logo-wrap {
    margin-left: 40px;
}
}
@media (max-width: 1199.98px)
{
header .menu-row .menu-content .menu-wrap .menu-mobile-icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
   
    display: flex;
    -webkit-box-align: center;
    
   
    align-items: center;
}
}
@media (max-width: 767.98px)
{
header.stick .menu-row .menu-content .menu-wrap .menu-mobile-icon #toggle-icon span {
    background: #066759;
}
}
@media (max-width: 767.98px){
header .menu-row .menu-content .menu-wrap .menu-mobile-icon #toggle-icon span {
    background: #26bd68;
}
}
@media (max-width: 1199.98px){
header .menu-row .menu-content .menu-wrap .pushmenu {
    background: #066759;
    width: 250px;
    height: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
    overflow-x: auto;
    float: none!important;
    margin-top: 0!important;
    transition: all .25s ease;
}
}
@media (max-width: 1199.98px){
header .menu-row .menu-content .menu-wrap .pushmenu-open::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    left: 250px;
    bottom: 0;
    z-index: 2;
    background-color: #252a3c;
    background-color: rgba(37,42,60,.65);
}
}
@media (max-width: 1199.98px){
header .menu-row .menu-content .menu-wrap .main-navigation .nav .main-menu-list {
    margin: 30px 0 0;
}
}
@media (max-width: 1199.98px){
header .menu-row .menu-content .menu-wrap .main-navigation .nav .main-menu-list li {
    width: 100%;
    margin: 0 0 20px;
}
}
@media (max-width: 1199.98px){
header .menu-row .menu-content .menu-wrap .main-navigation .nav .main-menu-list li a {
    color: #fff;
}
}
@media (max-width: 767.98px){
header .menu-row .button-wrap span {
    font-size: 0;
}
}
@media (max-width: 767.98px){
header.stick .menu-row .button-wrap .button {
    background: #fff!important;
    color: #2d3e50!important;
}
}
@media (max-width: 767.98px){
header .menu-row .button-wrap .button {
    background: #26bd68!important;
    color: #fff!important;
    padding: 7px 20px;
    margin-left: 0;
}
}