
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->


  <!--     header by femina     -->

  <!-- <div class="wrapper">
  <div class="container-fluid">
    <div class="row" style="flex-wrap: nowrap;">
        <div class="col-sm-6 col-md-8">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand d-none d-lg-block" href="#" style="color:white ;">logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#" style="color:white ;">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/about" style="color:white ;">About Us</a>
                    </li> -->
                    <!-- <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li> -->
                    <!-- <li class="nav-item">
                      <a class="nav-link "  routerLink="/contactUs" style="color:white ;">Contact Us</a>
                    </li>
                  </ul>
                  
                </div>
                
              </nav>
        </div>
        <div class="col-sm-6 col-md-4 ">
            <form class="form-inline my-2 my-lg-0" >
                <label>Already a member ?</label> -->
              <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
              <!-- <button class="button white-button" data-toggle="modal" data-target="#login" type="submit">Login</button>
            </form> -->
            <!-- modal -->
<!--        
        </div>

       
         </div>

    </div>
</div>
</div> -->


<!-- new header -->

<nav class="navbar navbar-expand-lg   nav1">
  <a class="navbar-brand" style="color: white" href="#">LOGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto write">
      <li class="nav-item active">
        <a class="nav-link home" style="color: white;" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="contactUs">Contact Us</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
     
      <div class="text-center">
        <a href="" class="btn btn-default btn-rounded mb-4 btn1" data-toggle="modal" data-target="#modalLoginForm">Login</a>
      </div>
    </form>
  </div>
</nav>
<!-- Modal -->


<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content modal1" >
    <!-- here -->
    <div *ngIf="hello">

      <div class="modal-header text-center " style="border-bottom: 0px solid #e9ecef;">
        <h6 class="modal-title w-100 font-weight-bold log">Login</h6>
        <h5>welcome back! Please Login</h5>
        <button type="button" class="close" data-dismiss="modal" style="color: white;" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <div class="modal-body mx-3">
  
        <div class="modal-footer d-flex justify-content-center" style="border-top: 0px solid #e9ecef;">
          <button class=" btn2"  (click)="fnpage()">Login with mobile</button>
          <h2>OR</h2>
        </div>
      
        <br>
        <div class="md-form mb-5">
          <label  class="label1">User Name</label>
          <input type="email" id="defaultForm-email" style="width: 206px;">
          
        </div>
         
        <div class="md-form mb-4">
          <label class="label1"> Password</label>
           <input type="password" id="defaultForm-pass"  style="width: 206px;">
        <h3>Forget Password</h3>
        </div>
  
      </div>
      <div  class="modal-footer d-flex justify-content-center" style="border-top: 0px solid #e9ecef;" >
        <button class=" btn3"(click)="fnlogin()">Login</button>
        <h1>Don't have an account?</h1> 
        <h4>Register Free</h4>
      </div>
    </div>

<!-- new add mobile number -->
<div *ngIf="visible">
  <div class="modal-content ">
    <div class="hert1"></div>
   <h1 class="h1">verification</h1>
   <div class="ic1"></div>
   <div class="hert2"></div>
   <h2 class="h2">We will send you a One Time Password on your phone number</h2>
   <input class="input1" placeholder="enter mobile number" type="number">
   <button class="btnm" (click)="fnotp()">Get Otp</button>
   <div class="hert3"></div>
</div>
  </div>

<!-- enter otp -->

<div *ngIf="visible2" >

  <!-- <div class="modal-content "> -->
    <div class="hert1"></div>
   <h1 class="h1">verification</h1>
   <div class="ic2"></div>
   <div class="hert2"></div>
   <h2 class="h2">You Will get OTP via SMS</h2>

   <div id="otp" class="inputs border-radiusborder-radius justify-content-center mt-2"> 
       <input class="m-2 text-center form-control rounded otp1" type="number" id="first" onkeypress="if(this.value.length==1) return false;" />
        <input class="m-2 text-center form-control rounded otp2" type="number" id="second"onkeypress="if(this.value.length==1) return false;" /> 
        <input class="m-2 text-center form-control rounded otp3" type="number" id="third" onkeypress="if(this.value.length==1) return false;" />
         <input class="m-2 text-center form-control rounded otp4" type="number" id="fourth" onkeypress="if(this.value.length==1) return false;" />
        
         
       </div>



  
   <button class="btnm"   (click)="fnveri()">Verify</button>
   <h6>Don't have an account?</h6> 
      <h3 class="h31">Resend again</h3>
   
   <div class="hert3"></div>
<!-- </div> -->

</div>

<div  *ngIf="visible3">
  <h2 class="h21">successfully Verified</h2>
  <div class="green"></div>
</div>


<div  *ngIf="visible4">
  <div class="modal-header text-center " style="border-bottom: 0px solid #e9ecef;">
    <h6 class="modal-title w-100 font-weight-bold log1">Login with Mobile OTP</h6>
    <h5 style="left: 10px;">welcome back! Please Login</h5>
    <button type="button" class="close" data-dismiss="modal" style="color: white;" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-footer d-flex justify-content-center" style="border-top: 0px solid #e9ecef;">
    <button class=" log2" (click)="fnmob()">Login with mobile</button>
  
  </div>








  
  </div>

 </div>
  </div>
    </div>
   



