
/* .container { */
    /* box-sizing: border-box; */
    /* width: 100%; */
    /* padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; */
    /* margin: left 0; */
    /* padding: 100px; */
/* } */
/* .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.wrapper {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #1687A7;
}
header {
    background: #1687A7;
}
a{
    color: white;
}
.navbar{
    background: #1687A7; 
    color: white; 
}
.navbar-light .navbar-brand {
    color: white;
}
.navbar-brand{
color: white;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: white;
}
header {
    position: relative;
    z-index: 99;
    padding: 19px 0;
    transition: all .25s ease;
}
header .menu-row {
    position: relative;
    display: flex;
    align-items: center;
}
header .menu-row .menu-content {
    display: flex;
    align-items: center; 
}
header .menu-row .menu-content .logo-wrap {
    transition: all .5s ease;
}
a {
    color: #1a75e8;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
img {
    vertical-align: middle;
    border-style: none;
}
header .menu-row .menu-content .logo-wrap img {
    max-width: 165px;
}
header .menu-row .menu-content .menu-wrap {
    width: 100%;
}
header .menu-row .menu-content .menu-wrap .menu-mobile-icon {
    display: none;
}
header .menu-row .menu-content .menu-wrap .menu-mobile-icon #toggle-icon {
    width: 22px;
    height: 20px;
    position: relative;
    transform: rotate(0deg);
    transition: all .5s ease;
    cursor: pointer;
}
header .menu-row .menu-content .menu-wrap .menu-mobile-icon #toggle-icon span:nth-child(1) {
    top: 0;
}
header .menu-row .menu-content .menu-wrap .menu-mobile-icon #toggle-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #066759;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all .25s ease;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
header .menu-row .menu-content .menu-wrap .main-navigation .nav .main-menu-list {
    margin: 0 0 0 70px;
}
header .menu-row .menu-content .menu-wrap .main-navigation .nav .main-menu-list li {
    display: inline-block;
}
header .menu-row .menu-content .menu-wrap .main-navigation .nav .main-menu-list li a {
    color: #fff;
    padding: 12px;
}
header .menu-row .menu-content .menu-wrap .main-navigation .nav .main-menu-list li a .active
{
    background: #276678;
border-radius: 17px;
}
.button-wrap{
    float: right;
}
header .menu-row .button-wrap {
    color: #fff;
}
header .menu-row .button-wrap .button {
    margin-left: 25px;
}

.button.white-button {
    margin: 6px 0px 0px 6px;
    background: #F6F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #1687A7;
    border:none;
}
.button {
    font-weight: 500;
   
    border-radius: 17px;
    display: inline-block;
    padding: 7px 20px;
    min-width: 100px;
    text-align: center;
   
    transition: all .3s ease-in-out;
}
.btn1{
    background: #F6F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #1687A7;   
}
header .menu-row .menu-content .menu-wrap .menu-mobile-icon #toggle-icon span:nth-child(3) {
    top: 8px;
}
.pushmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
    transition: all .25s ease;
}
.navbar-light .navbar-toggler {
    background: #F6F5F5;
    box-shadow: 0px 1.44444px 1.44444px rgb(0 0 0 / 25%);
   
}
label{
    color:white;
} */
/* banner section */
/* .banner-section { */
    /* background-image: url("../assets/images/bnr2.jpg"); */
    /* background-repeat: no-repeat;
  background-attachment: fixed; */
  /* background-size: cover; */
    /* background: #def4e9; */
/* }
.banner-section {
    padding: 30px 0 0;
}
.banner-section h1 {
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 30px;
    color: white;
}
.banner-section .form-wrap {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 50px;
    background: rgba(172, 181, 184, 0.01);
    box-shadow: inset 7.66417px -7.66417px 7.66417px rgb(137 145 147 / 22%), inset 15.3283px -15.3283px 15.3283px rgb(255 255 255 / 22%), inset -7.66417px 7.66417px 7.66417px rgb(255 255 255 / 22%), inset -15.3283px 15.3283px 15.3283px rgb(137 145 147 / 22%);
    backdrop-filter: blur(51.3499px);
    border-radius: 27.5033px;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.banner-section .form-wrap .shadow::before {
    content: "";
    position: absolute;
    left: 18px;
    top: 35px;
    right: 18px;
    bottom: 18px;
    /* background: #066759; */
    /* -webkit-filter: blur(19px);
    -moz-filter: blur(19px);
    -ms-filter: blur(19px);
    -o-filter: blur(19px);
    filter: blur(19px);
    z-index: 1;
    border-radius: 20px;
}
.banner-section .form-wrap .form-container {
    padding: 30px 30px 15px;
    border-radius: 20px;
    z-index: 2;
}
.form-control {
    height: 36px;
    border: 1px solid #ccc;
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 14px;
} */ */
/* label {
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    color: #777;
} */
/* .select-wrap::after { */
    /* content: ""; */
    /* position: absolute;
    right: 10px;
    top: 50%;
    margin-top: 1px;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.phone-row {
    margin-left: -5px;
    margin-right: -5px;
}
.phone-row [class*=col] {
    padding-left: 5px;
    padding-right: 5px;
}
.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}
.select-wrap {
    position: relative;
}
.select-wrap select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.phone-row .isd-input {
    width: 55px;
}
.select-wrap::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: 1px;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
} */

/* banner section ends */

/* media queris */
/* here mine starts */
/* open with mobile */
.h1{
    position: absolute;
    width: 166.63px;
    height: 41.93px;
    left: 164.5px;
    top: 71px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25.9555px;
    line-height: 42px;
    text-align: center;
    color: #276678;

}
.ic1{
    background-image: url(../../assets/images/ic.png);
       position: absolute;
    left: 44.74%;
    right: 49.36%;
    top: 131px;
    bottom: 46.54%;
    width: 50px;
    height: 70px;
    background-repeat: no-repeat;

}
.h2{
    position: absolute;
    width: 369.63px;
    height: 62.9px;
    left: 60px;
    top: 220.99px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18.637px;
    line-height: 28px;
    text-align: center;
    color: #1687A7;
}

.input1{
    position: absolute;
    width: 215.63px;
    height: 31.93px;
    left: 145.5px;
    top: 319px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12.9555px;
    line-height: 42px;
    text-align: center;
    color: #276678;
    background: #FFFFFF;
    border: 1px solid #276678;
    border-radius: 30.1524px;
}
.btnm{
    position: absolute;
    width: 324px;
    height: 40px;
    left: 92px;
    top: 391.6px;
    background: #276678;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 22.1524px;
    COLOR: white;
    font-weight: bold;
    border: none;
}

.hert1{
 background-image: url(../../assets/images/HERT1.png);
 height: 43px;
    position: absolute;
    left: 17.11%;
    right: 65.77%;
    top: 46.25px;
    bottom: 57.81%;
    width: 56px;
    background-repeat: no-repeat;
}
.hert2{
    background-image: url(../../assets/images/hert2.png);
    height: 43px;
    position: absolute;
    left: 18.11%;
    right: 65.77%;
    top: 279px;
    bottom: 57.81%;
    width: 56px;
       background-repeat: no-repeat;
   }
   .hert3{
    background-image: url(../../assets/images/hert3.png);
    height: 43px;
    position: absolute;
    left: 10.11%;
    right: 65.77%;
    top: 430.25px;
    bottom: 57.81%;
    width: 56px;
    background-repeat: no-repeat;
      
   }

   /* otp page of mobile */
   .otp1{
    box-sizing: border-box;

position: absolute;
width: 51px;
height: 48px;
left: 143px;
top: 273px;

background: #FFFFFF;
border: 1px solid #276678;
border-radius: 79% !important;
}
.otp2{
    box-sizing: border-box;

position: absolute;
width: 51px;
height: 48px;
left: 197px;
top: 273px;

background: #FFFFFF;
border-radius: 79% !important;
border: 1px solid #276678;
}
.otp3{
    box-sizing: border-box;

position: absolute;
width: 51px;
height: 48px;
left: 251px;
top: 273px;

background: #FFFFFF;
border-radius: 79% !important;
border: 1px solid #276678;
}
.otp4{
    box-sizing: border-box;

position: absolute;
width: 51px;
height: 48px;
left: 305px;
top: 273px;

background: #FFFFFF;
border-radius: 79% !important;
border: 1px solid #276678;
}
.ic2{
    background-image: url(../../assets/images/tick.png);
       position: absolute;
       left: 44.74%;
       right: 49.36%;
       top: 131px;
       bottom: 46.54%;
       width: 50px;
       height: 70px;
    height: 70px;
    background-repeat: no-repeat;

}
h6{
    
    position: absolute;
    width: 361px;
    height: 17px;
    left: 126px;
    top: 442px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #D3E0EA;
}

.h31{
    position: absolute;
    width: 361px;
    height: 23px;
    left: 271px;
    top: 442px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1200;
    font-size: 15px;
    line-height: 22px;
    color: #276678;
    text-decoration: underline;
}

/* successs */

.green{
    background-image: url(../../assets/images/green.png);
  
    position: absolute;
    left: 38.96%;
    right: 44.07%;
    top: 52.82%;
    bottom: 29.79%;
    background-repeat: no-repeat;

}

.h21{
    position: absolute;
    width: 369.63px;
    height: 62.9px;
    left: 60px;
    top: 227.99px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bolder;
    font-size: 22.637px;
    line-height: 28px;
    text-align: center;
    color: #1687A7;
}
      /* login with pc */

      .log1{
        position: absolute;
        width: 395px;
        height: 33px;;
        left: -6px;
        top: 54.25px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bolder;
        font-size: 28px;
        line-height: 54px;
        color: #276678;
      }

      .log2{
        position: absolute;
        width: 321px;
        font-family: 'Poppins';
        height: 35px;
        left: 91px;
        top: 148.25px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 22.1524px;
        border: none;
        color:#276678; ;
        font-weight: bolder;
      }
    


/* @media screen and (max-width: 600px) {
    .button {
        font-weight: 500;
        border-radius: 17px;
        display: inline-block;
        padding: 1px 9px;
     min-width: 16px; 
        text-align: center;
        transition: all .3s ease-in-out;
    }
    label{
        font-size: 10px;
    }
}
@media (min-width: 576px)
{
.container {
    max-width: 540px;
}
}
@media (min-width: 768px)
{
.container {
    max-width: 720px;
}
}

@media (min-width: 992px)
{
.container {
    max-width: 960px;
}
}
@media (min-width: 1200px)
{
.container {
    max-width: 1140px;
}
}
@media (max-width: 1199.98px)
{
header .menu-row .menu-content .logo-wrap {
    margin-left: 40px;
}
}
@media (max-width: 1199.98px)
{
header .menu-row .menu-content .menu-wrap .menu-mobile-icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
   
    display: flex;
    -webkit-box-align: center;
    
   
    align-items: center;
}
}
@media (max-width: 767.98px)
{
header.stick .menu-row .menu-content .menu-wrap .menu-mobile-icon #toggle-icon span {
    background: #066759;
}
}
@media (max-width: 767.98px){
header .menu-row .menu-content .menu-wrap .menu-mobile-icon #toggle-icon span {
    background: #26bd68;
}
}
@media (max-width: 1199.98px){
header .menu-row .menu-content .menu-wrap .pushmenu {
    background: #066759;
    width: 250px;
    height: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
    overflow-x: auto;
    float: none!important;
    margin-top: 0!important;
    transition: all .25s ease;
}
}
@media (max-width: 1199.98px){
header .menu-row .menu-content .menu-wrap .pushmenu-open::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    left: 250px;
    bottom: 0;
    z-index: 2;
    background-color: #252a3c;
    background-color: rgba(37,42,60,.65);
}
}
@media (max-width: 1199.98px){
header .menu-row .menu-content .menu-wrap .main-navigation .nav .main-menu-list {
    margin: 30px 0 0;
}
}
@media (max-width: 1199.98px){
header .menu-row .menu-content .menu-wrap .main-navigation .nav .main-menu-list li {
    width: 100%;
    margin: 0 0 20px;
}
}
@media (max-width: 1199.98px){
header .menu-row .menu-content .menu-wrap .main-navigation .nav .main-menu-list li a {
    color: #fff;
}
}
@media (max-width: 767.98px){
header .menu-row .button-wrap span {
    font-size: 0;
}
}
@media (max-width: 767.98px){
header.stick .menu-row .button-wrap .button {
    background: #fff!important;
    color: #2d3e50!important;
}
}
@media (max-width: 767.98px){
header .menu-row .button-wrap .button {
    background: #26bd68!important;
    color: #fff!important;
    padding: 7px 20px;
    margin-left: 0;
} */
/* } */

.nav1{

    
      left: 0px;
    top: 0px;
    height: 70px;
    
    background-color: #1687A7;
    background-attachment: fixed;
    width: 1351px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    padding-left: 10px;
   
}

.btn1{
    
background: #F6F5F5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: none;

position: absolute;
width: 102px;
height: 36px;
left: 1235px;
top: 15px;
font-family: 'Poppins';
font-style: normal;

font-size:18px;
text-decoration: none;
background: #F6F5F5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 17px;



}
.bu1{
    background-color: transparent; 
    border: 0px;
    margin-top: 5px;
    color: #1687A7;
    font-weight: bolder;
}
.home{
    background: #276678;
border-radius: 17px;
}
.modal1{
width: 515px;
height: 511px;
left: -22px;
top: 50px;
    background: rgba(172, 181, 184, 0.01);
box-shadow: inset 8.28667px -8.28667px 8.28667px rgba(137, 145, 147, 0.22), inset 16.5733px -16.5733px 16.5733px rgba(255, 255, 255, 0.22), inset -8.28667px 8.28667px 8.28667px rgba(255, 255, 255, 0.22), inset -16.5733px 16.5733px 16.5733px rgba(137, 145, 147, 0.22);
backdrop-filter: blur(24px);
/* Note: backdrop-filter has minimal browser support */

border-radius:15px;

}

.btn2{
    background: #f3f3f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22.1524px;
    width: 350px;
    height: 37px;
    border: none;
    color:#276678; ;
    font-weight: bolder;
    }

.log{
    position: relative;
    width: 108px;
    height: 54px;
    left: 152px;
    top: 27.25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 54px;
    color: #276678;
   
}

input{
   position: absolute; 
background: #FFFFFF;
border: 1px solid #276678;
border-radius: 22.1524px;
left: 151px;
}

.mb-4{
    top: 100px;
}




.btn3{
    position:absolute;
background: #276678;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 22.1524px;
width: 350px;
height: 37px;
border: none;
top: 338px;
    left: 81px;
}


.label1{
   

    position: absolute;
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 21px;
    color: #19424e;
    left: 32px;
    


}

h2{
    
    position: absolute;
    width: 33.55px;
    top: 71px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19.7853px;
    line-height: 34px;
    

color: #000000;
}
h5{
    position: relative;
    width: 599px;
    height: 27px;
    left: -72px;
    top: 82.25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #020202;
}

h3{
    
    position: absolute;
    width: 128px;
    height: 17px;
    left: 293px;
    top: 176.6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 12.1902px;
    line-height: 23px;
    color: #000000;
}
h1{
    position: absolute;
    width: 159px;
    height: 19px;
    left: 113px;
    top: 390.6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #D3E0EA;
}
.h4{
    position: absolute;
    width: 115px;
    height: 21px;
    left: 259px;
    top: 388.6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bolder;
    font-size: 15.1902px;
    line-height: 23px;
    color: #0f2d36;
    text-decoration: underline;
    background: transparent;
    border: none;
}

.label2{
    position: absolute;
    width: 33.55px;
    height: 28.48px;
    left: 236px;
    top: 197.25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bolder;
    font-size: 22.7853px;
    line-height: 34px;
    color: #1687A7;
}

.mobi{
    box-sizing: border-box;
    position: absolute;
    width: 349px;
    top: 278px;
    height: 39px;
    width: 230px;
    left: 168px;
    background: #FFFFFF;
    border: 1px solid #276678;
    border-radius: 30.1524px;
}

.code{
    
    position: relative;
    left: -119px;
    width: 69px;
    top: 191px;
    width: 69px;
    border-radius: 44px;
    height: 31px;
}