.mdb-color {
    background-color: #1687A7 !important;
    font-family: 'Poppins';
    
   
}
.btn-floating.btn-sm {
    width: 36.15385px;
    height: 36.15385px;
}
footer.page-footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}
a.waves-effect, a.waves-light {
    display: inline-block;
}
.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px;
}
.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.rgba-white-slight, .rgba-white-slight:after {
    background-color: rgba(255,255,255,0.1);
}
.btn-floating.btn-sm i {
    font-size: .96154rem;
    line-height: 36.15385px;
}
.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
}
.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
}
h2{
    color: white;
}