<div class="container-fluid" style="padding-right:0px;padding-left:0px;overflow: hidden;">
  <div class="row">
    <div class="col-lg-12 col-sm -12"style="padding-right:0px;padding-left:0px;overflow: hidden;">
         <div class="nv1">
          <app-test> </app-test> 
         </div>
         <div class="nv2">
        <app-test> </app-test>  

        </div>
<section class="about">
 

  <!-- here -->
  <div  *ngIf="hello" class="hello" name="hello" id="hello">    
  
 
    <div class="row">
    <div class=" col-lg-12 col-sm-4">
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0"
      aria-valuemax="100%">20%</div>
  </div>
  </div>
  </div>
  <br>
  <br>
  <!-- shadow box -->
  
  <div class="container-fluid abtcont">
<!-- inner hidden box  -->
    <div  class="box">
      <!-- <!-personal-  -->

      <!-- <div  class="box"> -->
        <div class="img">
        <img class="img-fluid hrtcls1" src="../../assets/images/hrt6.png " style="
  margin-top: 345px;
  margin-left: -491px;
">
        <img class="img-fluid hrtcls" src="../../assets/images/Vector.png" style="
 
  margin-top: 335px;
  margin-left: -552px;

">
        <img class="img-fluid vector" src="../../assets/images/hrt5.png" style="
  position: absolute;
  left: 6.5%;
  right: 75.96%;
  top: 44.75%;
  bottom: 49.58%;

">

     
        


</div>

 
<!-- new content --> 
<h1> Personal Informations</h1>
<div class="row">
  <!-- <div class="col"> -->
<div class="col-lg-4 col-sm-12 "> 
  <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker inp" inline="true">
    <p>Date of Birth</p>
    <input placeholder="Select date" type="date" id="example" class="date">

  
  </div>


</div>
<div class="col-lg-4 col-sm-12"> 
  <div class="inp">
    <p>Marital Status</p>
    <div class="dropdown in">
      <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <b>Select</b>
      </button>
      <div class="dropdown-menu" aria-labelledby="Select">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
  

   </div>
<div class="col-lg-4 col-sm-12">
   <div class="inp">
          <p>Profile ID</p>
          <input type=text>
        </div>

</div>
<div class="col-lg-4 col-sm-12 "> 
  <div class="inp">
          <p>Religion</p>

          <div class="dropdown in">
            <button class=" dropdown-toggle sl" type="button" id="Select" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <b> Select</b>
            </button>
            <div class="dropdown-menu" aria-labelledby="Se">
              <a class="dropdown-item" href="#">Something3</a>
              <a class="dropdown-item" href="#">something2</a>
              <a class="dropdown-item" href="#">something</a>
            </div>
          </div>
        </div>

</div>
<div class="col-lg-4 col-sm-12 "> 
  <div class="inp">
    <p>Nationality</p>
    <div class="dropdown in">
      <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <b> Select</b>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Indian</a>
        <a class="dropdown-item" href="#">Other</a>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12 col-sm-12">
  <div class="box" style="margin-top: 150px;"> 
    <button class="bt" (click)="fnnext()" style="margin-bottom: -45px;" style="margin-top: -115px;"> Next </button>
               </div>
  </div>
 <!-- </div> -->

 </div>
 

<!-- ends here  v -->


         </div>
         </div> 
         </div>
         <!-- </div> -->

        <!-- </div> -->
        <!-- 1st  -->
        

      <div *ngIf="hello2"class="hello2" name="hello2" id="hello2"> 
        
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0"
            aria-valuemax="100%">40%</div>
        </div>
       
        <br>
        <br>
        <!-- shadow box -->
        
        <div class="container-fluid abtcont">
          <div class="box">
        
        <!-- physical information -->
        <h1> Physical Information</h1>
        <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="inp">
            <p>Height</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b>Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Select">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12"> 
          <div class="inp">
            <p>Weight</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b>Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Select">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="inp">
            <p>Physical Status</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b>Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Select">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-lg-4 col-sm-12">
          <div class="inp" style="margin-top: -20px;margin-left: 15px;">
            <p>Complexion</p>

            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="Select" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <b> Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Se">
                <a class="dropdown-item" href="#">Something3</a>
                <a class="dropdown-item" href="#">something2</a>
                <a class="dropdown-item" href="#">something</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="inp" style="
          margin-top: -20px;
      ">
            <p>Body type</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b> Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Indian</a>
                <a class="dropdown-item" href="#">Other</a>
              </div>
            </div>
          </div>


        </div>


        </div>
        <button class="bt inp" (click)="fnnext1()" style=" margin-bottom: 66px; margin-top: 20px
    "> Next </button>

       
            </div> </div> </div>
            
          <!--        here -->
            
     
      
          <div *ngIf="hello3"class="hello3" name="hello3" id="hello3">
           
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100%">50%</div>
            </div>
           
            <br>
            <br>
            <!-- shadow box -->
            
            <div class="container-fluid abtcont">
              <div class="box">
                <!-- education & profession 3rd part -->
            <h1>Education & Profession</h1>
            <div class="row">
            <div class="col-lg-4 col-sm-12">
              <div class="inp">
                <p>Heighest Education</p>
                <div class="dropdown in">
                  <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <b>Select</b>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="Select">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="inp">
                <p>Education Details</p>
                <div class="dropdown in">
                  <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <b>Select</b>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="Select">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12"> 
              <div class="inp">
                <p>Education Description</p>
                <input type=text>
              </div>

            </div>
            <div class="col-lg-4 col-sm-12"> 
              <div class="inp" style="
              margin-top: -25px;
          ">
                <p> Job Proffession</p>
    
                <div class="dropdown in">
                  <button class=" dropdown-toggle sl" type="button" id="Select" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <b> Select</b>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="Se">
                    <a class="dropdown-item" href="#">Something3</a>
                    <a class="dropdown-item" href="#">something2</a>
                    <a class="dropdown-item" href="#">something</a>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <button class="bt" (click)="fnnext2()" style="margin-bottom: 66px; margin-top:25px"> Next </button>
            
             
    
              
            
            
            
            </div>
            </div>
    
    
    
          </div>
          <div *ngIf="hello4"class="hello4" name="hello4" id="hello4">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0"
                aria-valuemax="100%">60%</div>
            </div>
           
            <br>
            <br>
            <!-- shadow box -->
            
            <div class="container-fluid abtcont">
              <div class="box">
                <!-- family details 4th -->
            <h1>Family Details</h1>
            <div class="row">
            <div class="col-lg-4 col-sm-12">
              <div class="inp">
                <p>Family Type</p>
                <div class="dropdown in">
                  <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <b>Select</b>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="Select">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12"> 
              <div class="inp">
                <p>Finance Status</p>
                <div class="dropdown in">
                  <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <b>Select</b>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="Select">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="inp">
                <p> Father</p>
                <div class="rd">
                  <div class="rd">
    
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" style="
                              width: 22px;
                              margin-left: 5px;
                              margin-right: 7px;
                          ">
    
                    <p for="inlineRadio1" style="
                            margin-top: -34px;
                            margin-right: 17px;
                        ">Alive</p>
                  </div>
                  <div class="rd">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" style="
                            width: 22px;
                            margin-left: 17px;
                        ">
                    <p for="inlineRadio2" style="
                               margin-left: 10px;
                               margin-top: -33px;
                           "> Late</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="inp">
                <p> Mother</p>
                <div class="rd">
                  <div class="rd">
    
                    <input type="radio" name="inlineRadioOption" id="inlineRadio3" value="option1" style="
                                width: 22px;
                                margin-left: 5px;
                                margin-right: 7px;
                            ">
    
                    <p for="inlineRadio3" style="
                              margin-top: -34px;
                              margin-right: 17px;
                          ">Alive</p>
                  </div>
                  <div class="rd">
                    <input type="radio" name="inlineRadioOption" id="inlineRadio4" value="option2" style="
                              width: 22px;
                              margin-left: 17px;
                          ">
                    <p for="inlineRadio4" style="
                                 margin-left: 10px;
                                 margin-top: -33px;
                             "> Late</p>
                  </div>
                </div>
              </div>
            </div>
            </div>
            
            
             
    
              
             
              
              
    
    
    
    
    
           
    
            <button class="bt" (click)="fnnext3()" style="
            margin-bottom: 66px;
        "> Next </button>
            </div>
            </div>
    
          </div>
          <div *ngIf="hello5"class="hello5" name="hello5" id="hello5">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                aria-valuemax="100%">70%</div>
            </div>
           
            <br>
            <br>
            <!-- shadow box -->
            
            <div class="container-fluid abtcont">
              <div class="box">
            <h1>Religious Informations</h1>
            <!-- religious information page 5 -->
               <div class="row">
               <div class="col-lg-4 col-sm-12">
                <div class="inp">
                  <p>Religion</p>
                  <div class="dropdown in">
                    <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <b>Select</b>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="Select">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
              </div>
               <div class="col-lg-4 col-sm-12">
                <div class="inp">
                  <p>Class</p>
                  <div class="dropdown in">
                    <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <b>Select</b>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="Select">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                
               </div>
               <div class="col-lg-4 col-sm-12"> 
                <div class="inp">
                <p>Madrassa Education</p>
    
                <div class="dropdown in">
                  <button class=" dropdown-toggle sl" type="button" id="Select" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <b> Select</b>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="Se">
                    <a class="dropdown-item" href="#">Something3</a>
                    <a class="dropdown-item" href="#">something2</a>
                    <a class="dropdown-item" href="#">something</a>
                  </div>
                </div>
              </div>
               </div>
               <div class="col-lg-4 col-sm-12"> 
                <div class="inp">
                <p>Religiousness</p>
                <div class="dropdown in">
                  <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <b>Select</b>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="Select">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
               </div>
               </div>
            
              
              
              
            
            
              
              <div class="inp">
    
    
              </div>
            
            
    
            <button class="bt" (click)="fnnext4()" style="
            margin-bottom: 66px;
        "> Next </button>
            </div>
            </div>
          </div>
          <div *ngIf="hello6"class="hello6" name="hello6" id="hello6">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
                aria-valuemax="100%">80%</div>
            </div>
           
            <br>
            <br>
            <!-- shadow box -->
            
            <div class="container-fluid abtcont">
              <div class="box">
            <h1>Contact Details</h1>
            <div class="row">
            <div class="col-lg-4 col-sm-12">
              <div class="inp">
                <div class="inp">
                  <p>Primary Number</p>
                  <input type="number" pattern="[789][0-9]{9}" onKeyPress="if(this.value.length==10) return false;">
    
    
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="inp">
                <p>Secondary Number</p>
                <input type="number" pattern="[789][0-9]{9}" onKeyPress="if(this.value.length==10) return false;">
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="inp">
                <p>Preferred Mobile Number</p>
                <div class="dropdown in">
                  <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <b>Select</b>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="Select">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                  </div>
                </div>
              </div>            
            </div>
            <div class=" col-lg-4 col-sm-12">
              <div class="inp">
    
    
                <div class="inp" style="
                margin-left: 25px;
            ">
                  <p>Contact person & Relationship</p>
                  <input type=text>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="inp">
    
                <div class="inp">
                  <p>Email ID</p>
                  <input type=text>
                </div>
              </div> 
            </div>
            </div>
            
            
              
    
              
            
              
            
    
            <button class="bt" style="margin-bottom: 66px;" (click)="fnnext5()" style="margin-bottom: 54px;"> Next</button>   
            <!-- <a  routerLink="/location" style="color:white ;"> <button class="">Next</button>>  </a>  -->
            </div>
            </div>
            
                        
          </div>
    
<!--abt container closed -->
<!-- <div class="container-fluid abtcont1"> -->
  <div class="col-sm-12" *ngIf="hello7" class="hello7" name="hello7" id="hello7">
  <div class="box">
      <div >
        <div class="progress" style="margin-left: 41px; width:864px">
          <div class="progress-bar"  role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0"
            aria-valuemax="100%">90%</div>
        </div>
       
        <br>
        <br>
        <!-- shadow box -->
        
        <div class="container-fluid abtcont1">
          <div class="box">

        <p style="
        margin-bottom: 63px;
        margin-left: -30px;">Location Details</p>
        <h4 style="font-size: 17px;
        font-weight: 400;">Home Address</h4>
        <div class="row">  
        <div class="col-lg-4 col-sm-12"> 
          <div class="inp">
            <!-- <div style="
                  margin-right: -500px;
                  margin-top: -31px;
              ">Home Address</div> -->
              

            <div class="text">
              <input class="form-control" type="text"  placeholder="Country">



            </div>
          </div> 
        </div>
        <div class="col-lg-4 col-sm-12"> 
          <div class="inp">
            <div class="text">
              <input class="form-control" type="text" placeholder="State">



            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="inp">
            <div class="text">
              <input class="form-control" type="text" placeholder="District">



            </div>
          </div>
           </div>

        <div class="col-lg-4 col-sm-12"> 
          <div class="inp">
            <div class="text">
              <input class="form-control" type="text" placeholder="City">



            </div>

          </div>               
            
        </div>
        <div class="col-lg-4 col-sm-12"> 
          <div class="inp">
            <div class="text">
              <input class="form-control" type="text" placeholder="Place">



            </div>
          </div>    
        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="form-group shadow-textarea ">

            <textarea class="form-control z-depth-1 text1" id="exampleFormControlTextarea6" rows="3"
              placeholder="Write something here..."></textarea>
          </div>
        
        </div>
        <div class="col-lg-8 col-sm-12 px-lg-5 mx-lg-5 px-sm-2">
         <div class="col-lg-12 col-sm-12 px-lg-5 mx-lg-5 d-lg-flex d-sm-flex">
            <h3 class="col-lg-6 col-sm-5 px-lg-2 text-white mx-5">Current Address</h3> 
            <!-- <h4  > Same as </h4> -->
          </div>
        </div>
        <div class="col-lg-12 col-sm-12"> 
          <div class="form-check same1" style="
          margin-right: -46px;
          margin-top: -29px;
      ">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
    <label class="form-check-label" for="flexCheckIndeterminate">
     <h4 > Same as </h4>
    </label>
  </div>
        </div>
        <div class="col-lg-4 col-sm-12"> 
          <div class="inp">

            <div class="text">
              <input class="form-control" type="text" placeholder="Country">



            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12"> 
          <div class="inp">
            <div class="text">
              <input class="form-control" type="text" placeholder="State">



            </div>
          </div> 
        </div>
        <div class="col-lg-4 col-sm-12"> 
          <div class="inp">
            <div class="text">
              <input class="form-control" type="text" placeholder="District">



            </div>
          </div>

        </div>
        <div class="col-lg-4 col-sm-12">
          <div class="inp">
            <div class="text">
              <input class="form-control" type="text" placeholder="City">



            </div>

          </div>
        </div>
        <div class="col-lg-4 col-sm-12"> 
          <div class="inp">
            <div class="text">
              <input class="form-control" type="text" placeholder="Place">



            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">  
          <div class="form-group shadow-textarea ">

            <textarea class="form-control z-depth-1 text1" id="exampleFormControlTextarea6" rows="3"
              placeholder="Write something here..."></textarea>
          </div>
        </div>
        </div>
        
          
        

         
          
        

       


        
          
          




        <button class="bt" (click)="fnnext6()"> Next </button>
        </div>
        </div>
</div>
      </div>
</div>

    

<!-- profile photo -->













<div class="container-fluid" *ngIf="hello8">
<div class="row" >
<div class="col-lg-12 col-sm-12 col-12"> 

<h1  class="head"> Add your best shots</h1>
<h1  class="head1 "> Upload your photos to complete the profile</h1>
</div> 
</div> 

<!-- new -->

<div class="container-fluid">


<div class="row  padding ">




  <div class="col-lg-3 col-sm-6 col-md-3 col-6" >
    <div class="indiv">

      <div class="pic1 "></div>
<div class="bar1">
  <button class="b1">add file</button>
</div> 
    </div>
  </div>

  <div class="col-lg-3 col-sm-6 col-md-3 col-6">
    <div class="indiv">
      <div class="pic1 "></div>
      <div class="bar1">
        <button class="b1">add file</button>
      </div> 
    </div>
  </div>

  <div class="col-lg-3 col-sm-6 col-md-3 col-6" >
    <div class="indiv">
      <div class="pic1 "></div>
      <div class="bar1">
        <button class="b1">add file</button>
      </div> 
    </div>
  </div>

  <div class="col-lg-3 col-sm-6 col-md-3 col-6 " >
    <div class="indiv">
      <div class="pic1 "></div>
      <div class="bar1">
        <button class="b1">add file</button>
      </div> 
    </div>
  </div>
 
</div>
</div>






<div class="col-lg-12 col-sm-12">
<button class="btn2">skip</button>

<h1  class="head2">Photo privacy</h1>

<div class="rad">
<div class="form-check form-check-inline">
  <input class="form-check-input rad1" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">Visible to All </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input rad1" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">Only for allowed users</label>
</div>
</div>
<button class="btn1" (click)="fnnext7()">Submit and save</button>
<div class="label1">
<label  class="lbl" >Photo Privacy Settings Successfully Updated</label>
</div>
</div>
<!-- </div> -->


</div> 











<!-- details and id  -->

<div *ngIf="hello9" class="last">
  <div class="container abtcont ">
    <div class="row">
       
    
    
        
    
          <div class="box py-3 my-3" >
        
           <h2 class=" text-white center" style="
           margin-top: 10px;">Welcome to NikahinKerala Check your login details. <br>
            Profile ID : 355444 <br>
            Password : 2121wqwq<br>
            Helpline: 9947572960</h2>
           
          </div>
         <div class="box"> 
        
          <a class=" button bt" style="width:50% ;color:white" href="testside">got it </a> 
        
         </div>
       

    </div>

</div>
</div>




<!-- end details and id  -->
</section>
<!-- </div> -->

<section class="down" style="background-color: #276678;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-4 d-flex align-items-stretch aos-init aos-animate col-4" data-aos="fade-up">
        <div class="icon-box d-flex ">
          <div class="icon ic1">
            <i class="fa fa-phone icn1" aria-hidden="true" style="font-size:20px;"></i>
          </div>

          <p class="description text-white">Helpline 24/7 <br><span class="card-text text-white">+9100000000</span></p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-4 d-flex align-items-stretch aos-init aos-animate col-4" data-aos="fade-up">
        <div class="icon-box d-flex ">
          <!-- <div class="icon ic1">
            <div style="background-image: url(../../assets/images/msg5.png);"></div>
          </div> -->
          <div><img class="pc1" style="width: 47px;" src="../../assets/images/msg1.png" alt=""></div>
          <p class="description text-white"> Send your queries <br><span
              class="card-text text-white">matrimony@gmail.com</span></p> 
        </div>
      </div>

      
      <div class="office col-md-4 col-lg-4 d-lg-flex  " data-aos="fade-up">
        <div class="office  icon-box d-lg-flex ">
          <div class="icon ic1">
            <i class="fa fa-globe icn1" aria-hidden="true" style="font-size:20px;"></i>
          </div>
          <p class="description text-blue text-white">Head Office <br><span class="card-text text-white">kerala
              <br>calicut 96006</span></p>
        </div>
      </div>
      
      
    </div>
  </div>
</section>

<div class="ftr">
  
<app-footer></app-footer>
</div>
</div>

</div>
</div>





<!-- nav bar 2 -->




