.text-blue{
    color: #276678;
}
.card{
    background: #D3E0EA;
border-radius: 35.7674px;

}
.card-text{
    color: #1687A7;
}
.mb-12{
    margin-bottom: 6rem!important;
}
.card-img-top{
    border: 1px solid #000000;
    height: 120px;
    width: 120px;
    border-radius: 60px;
}
.mb-4{
    margin-bottom: 4rem!important;
}
.elips{
    margin: 0 0 31% 0;
}
.elips1{
    margin: 0 0 40% 0;  
}
.elips2{
    margin: 0 0 47% 0;  
}
.no-gutters>[class*=col-] {
    padding-right: 13px;
    padding-left: 0;
}
.regbtn1{
    background: #276678;
box-shadow: inset 8.66875px -8.66875px 8.66875px rgba(17, 103, 127, 0.1), inset -8.66875px 8.66875px 8.66875px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(17.3375px);
border-radius: 20px;
color: white;
}
.icon {
    margin: 0 auto 20px auto;
    padding-top: 11px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 72px;
    height: 72px;
}
.icon-box{
    padding: 20px;
}
.icn1{
    color: #276678;
    font-size: 21px;
}
.ic1{
    padding-top: 7px;
    height: 38px;
    width: 38px;
    /* font-size: 20px; */
    background: #D3E0EA;
border: 2.61169px solid #A2C2DB;
box-shadow: 0px 3.48225px 3.48225px rgba(0, 0, 0, 0.25);
}
.about{
    background-image: url("/assets/images/abt.png");
    padding: 90px;
    margin: -28px 0 0 0;
    
}
.abtcont{
    border: 1px solid white;
    padding: 50px;
    
}
.hrtcls{
    margin: -81px 0 0 23%;
}
.hrtcls1{
    margin-left: 27%;
    width: 38px;
}
<<<<<<< HEAD
=======

/* footers */

.ng{
    position: relative;
    width: 1400px;
     left: -110px;
}




>>>>>>> 5268e2046fee3647b2205fd89ec29334e47a6161
/* media queris */
@media (max-width: 600px) {
   
  }
@media screen and (max-width: 600px) {
    .button {
        font-weight: 500;
        border-radius: 17px;
        display: inline-block;
        padding: 1px 9px;
     min-width: 16px; 
        text-align: center;
        transition: all .3s ease-in-out;
    }

    label{
        font-size: 10px;
    }
    .about {
        background-image: url(/assets/images/abt.png);
        padding: 40px;
        margin: 0px 0 0 0;
    }
}
@media (min-width: 576px)
{
.container {
    max-width: 540px;
}
.about {
    background-image: url(/assets/images/abt.png);
    padding: 90px;
    margin: -30px 0 0 0;
    /* margin: 0px 0 0 0; */
}
}
@media (min-width: 768px)
{
.container {
    max-width: 720px;
}

}

@media (min-width: 992px)
{
.container {
    max-width: 960px;
}

}
@media (min-width: 1200px)
{
.container {
    max-width: 1140px;
}

}
@media (max-width: 1199.98px)
{
header .menu-row .menu-content .logo-wrap {
    margin-left: 40px;
}

}
@media (max-width: 1199.98px)
{
header .menu-row .menu-content .menu-wrap .menu-mobile-icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
   
    display: flex;
    -webkit-box-align: center;
    
   
    align-items: center;
}
}
@media (max-width: 767.98px)
{
header.stick .menu-row .menu-content .menu-wrap .menu-mobile-icon #toggle-icon span {
    background: #066759;
}

}
@media (max-width: 767.98px){
header .menu-row .menu-content .menu-wrap .menu-mobile-icon #toggle-icon span {
    background: #26bd68;
}
}
@media (max-width: 1199.98px){
header .menu-row .menu-content .menu-wrap .pushmenu {
    background: #066759;
    width: 250px;
    height: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
    overflow-x: auto;
    float: none!important;
    margin-top: 0!important;
    transition: all .25s ease;
}
}
@media (max-width: 1199.98px){
header .menu-row .menu-content .menu-wrap .pushmenu-open::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    left: 250px;
    bottom: 0;
    z-index: 2;
    background-color: #252a3c;
    background-color: rgba(37,42,60,.65);
}
}
@media (max-width: 1199.98px){
header .menu-row .menu-content .menu-wrap .main-navigation .nav .main-menu-list {
    margin: 30px 0 0;
}
}
@media (max-width: 1199.98px){
header .menu-row .menu-content .menu-wrap .main-navigation .nav .main-menu-list li {
    width: 100%;
    margin: 0 0 20px;
}
}
@media (max-width: 1199.98px){
header .menu-row .menu-content .menu-wrap .main-navigation .nav .main-menu-list li a {
    color: #fff;
}
}
@media (max-width: 767.98px){
header .menu-row .button-wrap span {
    font-size: 0;
}
.about{
    background-image: url(/assets/images/abt.png);
    padding: 40px;
    margin: 0px 0 0 0; 
}
}
@media (max-width: 767.98px){
header.stick .menu-row .button-wrap .button {
    background: #fff!important;
    color: #2d3e50!important;
}
.about {
    background-image: url(/assets/images/abt.png);
    padding: 40px;
    margin: 0px 0 0 0; 
}
}
@media (max-width: 767.98px){
header .menu-row .button-wrap .button {
    background: #26bd68!important;
    color: #fff!important;
    padding: 7px 20px;
    margin-left: 0;
}
.about {
    background-image: url(/assets/images/abt.png);
    padding: 97px 40px;
    margin: -33px 0 0 0;
    /* padding: 40px;
    margin: 0px 0 0 0;  */
}
.hrtcls{
    margin: -282px 0 0 -12%;
}
}