.sidebar{
  /* padding-right:0px;padding-left:0px; */
    margin: 0;
    padding: 0;
    /* width: 300px; */
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
/*       here       */

.blurleft1{
background-image:url("/assets/images/abt.png") ;
height: 1500px;
float:left;
}
.blurleft2{
  background-image:url("/assets/images/Rectangle 60.png") ;
  height: 1500px;
  /* float:left; */
}
.rightbg{
  background-image:url("/assets/images/abt.png"); 
  float:left;
  background-repeat: no-repeat; 
  height:fit-content; 
  width:fill-available;
}

.innerbox{
  box-shadow: 20px 20px 50px 10px rgb(62 163 192 / 30%) inset;
        opacity: 6;  
        height:fit-content; 
    border-radius: 18px;
box-shadow: whitesmoke 0px 30px 40px -2em inset;
Offset: 117.83px, -117.83px;
background:rgba(160, 170, 178, 0.1);
margin-bottom: 121px;
margin-top: 45px;
float: left;
}
.btns{
  height: 53px;
  width: 214px; 
  border-radius: 16px;
  color:rgba(3, 80, 102, 1);
  background-color:white ;
  border-color: white;
}
.a{
  font-size:100px;
}
.imgback {
  height: 250px;
  background-image: url("/assets/images/abt.jpg");
  backdrop-filter: blur(33.3227px);
  opacity: 0.4;
  background-size: cover;
  display: inline-block;
}
.imgfront {
height: 150px;
position: absolute;
background-size: cover;
}
.imgfront {
width: 150px;
height: 150px;
border-radius: 50%; 
position: absolute;
top: 55px;
left: 70px;
background-size: cover;
}
.sidebtns
{   
border-radius: 12px;
width: 250px;
height: 70px;
left: 40px;
border:none;
background:white;
}
.rightbg{
float:left;
background-repeat: no-repeat; 
height: 1500px;
/* background-size: cover; */
}
.innerbox{
box-shadow: 20px 20px 50px 10px rgb(62 163 192 / 30%) inset;
      opacity: 6; 
      height: 1400px;
  border-radius: 18px;
box-shadow: whitesmoke 0px 30px 40px -2em inset;
Offset: 117.83px, -117.83px;
background:rgba(160, 170, 178, 0.1);
}
.helpsec .innerbox .lineboxsmall{
  margin-left: 333px;
    margin-top: 50px;
    border-radius: 18px;
border: 1px solid white;
border-style: solid;
border-width: thin;
}
.linebox{
border-radius: 18px;
border: 1px solid white;
border-style: solid;
border-width: thin;
}
.imgdiv{
/* height: 348px; */
/* width: 341px; */
/* border-radius: 15.497406px; */
/* float: left; */
}
.boximg{
height: 290px;
border-radius: 15.497406px;
}
.lineboxhide{
height: 40px;
border-radius: 10px;
border: 1px solid white;
border-width: thin;
align-self: center;
}
@media (min-width:900px) and (max-width:1500px){
  .lineboxhide{
    width: 198px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid white;
    border-width: thin;
    align-self: center;
    margin-left: 296px;
    }
    


}






.camera{
width:55px;
margin-left: 191px;
  margin-top: -486px;
border-color: red;
}
.content{
border-radius: 15.497406px;
font-family: 'Poppins'; 
}
.verticalline{
border-left: 2px solid white;
height: 45px;
}
.h4text{
text-align: center;
color: white;
font-family: 'Poppins'; 
}
hr{height:2px;border-width:0;color:white;background-color:white;font-family:'Poppins';  }
.formtype{
background-color:transparent;
border: 0px;
}
.lb{
font-family:'Poppins'; 
}
.btn{
/* margin-top: 80px;
margin-left: 66px; */
/* width: 122px; */
/* height: 35px;

background: #276678;
border-radius: 10px; */

}
.personaldivinputtypes{
color:aliceblue;
border: 0px;
outline: none;
border-bottom: 1px solid white;
background:transparent;
}
.h2hide{
font-family: 'Poppins';
font-style: normal;
font-weight: 550;
color:white;
font-weight: 600;
font-size: 22px;
}
@media (min-width:900px) and (max-width:1500px){
  .h2hide{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 550;
    color:white;
    font-weight: 600;
    font-size: 17px;
    }


}



.loremhide{
font-family: 'Poppins';
font-style: normal;
color: white;
font-size: 16px;
line-height: 25px;
}
.model-content{
width:fit-content;
}
.congrats{
font-size: 14px;
  line-height: 20px;
  color:white;
  font-weight: bolder;
}
.inner_shadow{
box-shadow:
     inset 0 -3em 3em rgba(0,0,0,0.1),
           0 0  0 2px rgb(255,255,255),
           0.3em 0.3em 1em rgba(0,0,0,0.3);
box-shadow: 20px 20px 50px 10px rgba(62, 163, 192, 0.3) inset;
border-radius: 12px;
opacity: 6;  
}
.radiobtn{
height:35px; width:15px; vertical-align: middle;margin:8px;
}
.lastbtn{
cursor: pointer;
    color :white;
    border: 1px solid white;
    background-color: red;
    height: 50px;
    /* width: 200px; */
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    /* margin: 55px 400px; */
    border-radius: 12px;
}

@media screen and (max-width: 600px) {
  .blurleft{
    text-align: center;
    float: center;
  } 
  .rightbg{
      /* display: none;  */
  }
  .mng{
    display: none;
  }
.sidebar{
  text-align: center;
  float: center;
} 
.boximg{
  height: 257px;
  border-radius: 15.497406px;
}
.btns{
  height:30px;
  width: 140px;
}
.btn{
  height:30px;
}
.sidebar {
  height: auto;
  position: relative;
}
div.content {padding-right:0px;padding-left:0px;}
.loremhide{
  font-family: 'Poppins';
font-style: normal;
font-size: 5px;
line-height: 7px;
  }
.h2hide{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 36px;
align-content: center;
}
/* .lineboxhide{
  margin: left 50px;
} */
.submit{
  font-size:12px;
  width:145px;
}
.congrats{
  font-size: 8.11px;
  line-height: 12px;
}
.radio{
  height:6px; width:6px;
}
.radiolbl{
  font-size:6px;
}
.lastbtn{
  font-size: 12px;
  height:21px;
}
} 
@media screen and (min-width: 600px) {
.camera{
  display: none;
}
}
.main{
/* position: absolute; */
margin-left:120px ;
margin-top: 30px;
width: 770px;
height: 1137px;
left: 337px;
top: 50px;
background: rgba(211, 224, 234, 0.1);
box-shadow: inset 117.833px -117.833px 117.833px rgba(160, 170, 178, 0.1), inset -117.833px 117.833px 117.833px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(235.667px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 18px;
}
.hey{
position: absolute;
width: 208px;
height: 38px;
/* left: 263px;
top: 70px; */
border: 1px solid #FFFFFF;
box-shadow: inset 0px 0.5px 4px rgb(0 0 0 / 25%);
border-radius: 16px;
}
.noti{
box-sizing: border-box;
position: absolute;
width: 714px;
height: 169px;
left: -236px;
top: 70px;
background: #FFFFFF;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 21px;
margin-left: 1px;
}
.lore{
position: absolute;
width: 120px;
height: 45.65px;
left: 327px;
top: 19px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #000000;
}
/* 
.btn{
margin-top: 80px;
margin-left: 66px;
width: 122px;
height: 37px;

background: #276678;
border-radius: 20px;
} */
.imgs{
width: 48px;
border-radius: 35px;
margin-top: 0px;
margin-left: 49px;
}
.ha{
top: 12px;
width: 276px;
left: 287px;
font-size: small;
}
.chat{
box-sizing: border-box;
position: absolute;
width: 714px;
height: 169px;
left: 0px;
top: 70px;
background: #FFFFFF;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 21px;
}
.ha1{
line-height: 15PX;
  top: 24px;
  width: 282px;
  left: 125px;
  font-size: 11px;
}
/* chatbox */
#chat2 .form-control {
  border-color: transparent;
  }
  #chat2 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
  }
  .divider:after,.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  }
.chatmenu{
width: 160px;
height: 173px;
background: #FFFFFF;
border: 1px solid #BAD4E8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px 20px 20px 20px;
}
.chatbox{
width: 378px;
height: 350px;
background: #C3DDE4;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25), inset 117.833px -117.833px 117.833px rgba(160, 170, 178, 0.1), inset -117.833px 117.833px 117.833px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(235.667px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 18px;
}
.chatmsg{
margin: 0px;
padding: 0px;
outline: none;
height: 30px;
border-radius: 5px;
width: 274px;
height: 42px;
background: #FFFFFF;
border: 1px solid #276678;
border-radius: 30px;
  }
  .round{
    border-radius: 50%;
    background: white;
  }
  .buttonIn {
    width: 300px;
    position: relative;
}
#send{
    position: absolute;
    border-radius: 5px;
    /* right: 0px; */
    z-index: 2;
    border: none;
    margin-left: -74px;;
    margin-top: 14px;
    height: 30px;
    cursor: pointer;
    color: #276678;
    background-color: transparent;
    transform: translateX(2px);
}
/* end chatbox */
/* bloch report */
.pop{
  width:auto;
}
.primary{
  color: rgba(39, 102, 120, 1);
  border-color: rgba(39, 102, 120, 1);
 }
.primary.bt:hover
{
  color:red ;
  cursor: pointer;  
}
.modal-content{
  background-color:#F6F5F5;
  border-radius: 11.37px
  ;
}
 /* help */
 .help2{
  margin-left: 69px;
margin-top: 88px;
margin-right:58px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}
.help1{
  margin-left: 14px;
  margin-bottom: 7px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 20px;
    border: 10px;
    color: white;
    text-align: center;
    margin-top: 9px;
}
@media (min-width:900px)  and (max-width:1500px){
  .modal-content{
      width: 326px; 
  }
  .helpsec .innerbox{
    width: 90%;
   margin-left: 45PX;
}
}

@media (min-width:300px)  and (max-width:500px){
  .modal-content{
      width: 326px;
    }
    .modal-title{
      width:127px;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
  }
  
      .help2{
        margin-left: 10px;
        margin-top: 22px;
        margin-right: 10px; 
      font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
    }
    .helpsec .innerbox .linebox{
  margin-left:30px;
  margin-top:30px;
}
.helpsec .innerbox .lineboxsmall{
  margin-left: 110px;
    margin-top: 40px;
    border-radius: 18px;
border: 1px solid white;
border-style: solid;
border-width: thin;
}
.helpsec .innerbox{
  width: 90%;
 margin-left: 19PX;
}
}

.modal-title{
  width: auto;
  font-weight: 600;
  width:auto;
}

@media (min-width:900px) and (max-width:1500px){
  .modal-title{
      width:127px;
      font-weight: 600;
       margin-right: -4rem!important;
  }
  .px-5{
      padding-left: -0.75rem!important;
  }
  .helpsec .innerbox .linebox{
    margin-left: 80px;
    margin-top: 90px;
}

}
   
.pswtype{
   border-radius: 8px;
}
@media (min-width: 992px){
    .col-lg-6 {
    flex: 0 0 50%;
    max-width: 32%;
}
.psw{
  margin-left:105px;
}
.blk{
  margin-top: 100px;
  
  margin-left: 105px;
}
}

@media (min-width:300px) and (max-width:500px){

  .innerbox{
    height:36%;
  }
}
