.sidebar{
  /* padding-right:0px;padding-left:0px; */
    margin: 0;
    padding: 0;
    /* width: 300px; */
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
/*       here       */
.green {
  background-color: white;
}

.red {
  background-color: red;
}

.navlabel{
 color: white; 
}

.blurleft1{
background-image:url("/assets/images/abt.png") ;
height: 1500px;
float:left;
}
.blurleft2{
  background-image:url("/assets/images/Rectangle 60.png") ;
  height: 1500px;
  /* float:left; */
}
.rightbg{
  background-image:url("/assets/images/abt.png"); 
  float:left;
  background-repeat: no-repeat; 
  height:fit-content; 
  width:fill-available;
}

@media screen and (max-width: 600px) {
  .blurleft{
    text-align: center;
    float: center;
  } 
  /* .rightbg{
      /* display: none;  */
  /* } */ */
  .mng{
    display: none;
  }
} 


.innerbox{
  box-shadow: 20px 20px 50px 10px rgb(62 163 192 / 30%) inset;
        opacity: 6;  
        height:fit-content; 
    border-radius: 18px;
box-shadow: whitesmoke 0px 30px 40px -2em inset;
Offset: 117.83px, -117.83px;
background:rgba(160, 170, 178, 0.1);
margin-bottom: 121px;
margin-top: 45px;
float: left;
}
.innerbox1{
  
opacity: 6;  

Offset: 117.83px, -117.83px;
background:rgba(160, 170, 178, 0.1);
margin-bottom: 121px;
margin-top: 45px;
height: 1000px;
}
.verticalline{
  border-left: 2px solid white;
  height: 45px;
  margin-left: 95px;
}

.btns{
  height: 53px;
  width: 214px; 
  border-radius: 16px;
  color:rgba(3, 80, 102, 1);
  background-color:white ;
  border-color: white;
}
.a{
  font-size:100px;
}
.imgback {
  height: 250px;
  background-image: url("/assets/images/abt.jpg");
  backdrop-filter: blur(33.3227px);
  opacity: 0.4;
  background-size: cover;
  display: inline-block;
}
.imgfront {
height: 150px;
position: absolute;
background-size: cover;
}
.imgfront {
width: 150px;
height: 150px;
border-radius: 50%; 
position: absolute;
top: 55px;
left: 70px;
background-size: cover;
}
.sidebtns
{   
border-radius: 12px;
width: 250px;
height: 70px;
left: 40px;
border:none;
background:white;
}
/* .rightbg{
float:left;
background-repeat: no-repeat; 
height: 1500px;
} */
.innerbox{
box-shadow: 20px 20px 50px 10px rgb(62 163 192 / 30%) inset;
      opacity: 6; 
      height: 1400px;
  border-radius: 18px;
box-shadow: whitesmoke 0px 30px 40px -2em inset;
Offset: 117.83px, -117.83px;
background:rgba(160, 170, 178, 0.1);
}
.helpsec .innerbox .lineboxsmall{
  margin-left: 333px;
    margin-top: 50px;
    border-radius: 18px;
border: 1px solid white;
border-style: solid;
border-width: thin;
}
.linebox{
border-radius: 18px;
border: 1px solid white;
border-style: solid;
border-width: thin;
}
.imgdiv{
/* height: 348px; */
/* width: 341px; */
/* border-radius: 15.497406px; */
/* float: left; */
}
.boximg{
height: 290px;
border-radius: 15.497406px;
}
.lineboxhide{
height: 40px;
border-radius: 10px;
border: 1px solid white;
border-width: thin;
align-self: center;
}
.camera{
width:55px;
margin-left: 191px;
  margin-top: -486px;
border-color: red;
}
.content{
border-radius: 15.497406px;
font-family: 'Poppins'; 
}
.verticalline{
border-left: 2px solid white;
height: 45px;
}
.h4text{
text-align: center;
color: white;
font-family: 'Poppins'; 
}

.imgpos{
  position: relative;
    top: 35px;
}

hr{height:2px;border-width:0;color:white;background-color:white;font-family:'Poppins';  }
.formtype{
background-color:transparent;
border: 0px;
}
.lb{
font-family:'Poppins'; 
}
.btn{
/* margin-top: 80px;
margin-left: 66px; */
/* width: 122px; */
/* height: 35px;

background: #276678;
border-radius: 10px; */

}
.personaldivinputtypes{
color:aliceblue;
border: 0px;
outline: none;
border-bottom: 1px solid white;
background:transparent;
}
.btnsise{
 
  height: 20px;
  width: 20px;
    background-repeat: no-repeat;
    border: none;
}
.h2hide{
font-family: 'Poppins';
font-style: normal;
font-weight: 550;
color:white;
font-weight: 600;
font-size: 22px;
}
.loremhide{
font-family: 'Poppins';
font-style: normal;
color: white;
font-size: 16px;
line-height: 25px;
}
.imgsrc{
  width: 261px;
    height: 377px;
    border-radius: 6%;
    border: 1px solid white;
    background-repeat: no-repeat;
    margin-left: 13%;
    margin-bottom: 12%;
}
.fixfoot{
  background-color: #dee2e6;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
}

.backs{
  margin-top: 79%;
  color: white;
  font-family: poppins;
  font-size: 95%;
  background: rgba(96, 100, 102, 0.25);
border: 1px solid #D3E0EA;
box-shadow: inset 17.1667px -17.1667px 17.1667px rgba(190, 167, 167, 0.015), inset -17.1667px 17.1667px 17.1667px rgba(255, 255, 255, 0.015);
backdrop-filter: blur(5.49333px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 15px 15px 0px 0px;
font-weight: bold;
}
.smnav{
  background: rgba(196, 196, 196, 0.5);
box-shadow: inset 33.5333px -33.5333px 33.5333px rgba(149, 149, 149, 0.1), inset -33.5333px 33.5333px 33.5333px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(67.0667px);
border-radius: 0px 0px 15px 15px;
height: 36px;
}
.model-content{
width:fit-content;
}
.congrats{
font-size: 14px;
  line-height: 20px;
  color:white;
  font-weight: bolder;
}
.inner_shadow{
box-shadow:
     inset 0 -3em 3em rgba(0,0,0,0.1),
           0 0  0 2px rgb(255,255,255),
           0.3em 0.3em 1em rgba(0,0,0,0.3);
box-shadow: 20px 20px 50px 10px rgba(62, 163, 192, 0.3) inset;
border-radius: 12px;
opacity: 6;  
}
.radiobtn{
height:35px; width:15px; vertical-align: middle;margin:8px;
}
.lastbtn{
cursor: pointer;
    color :white;
    border: 1px solid white;
    background-color: red;
    height: 50px;
    /* width: 200px; */
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    /* margin: 55px 400px; */
    border-radius: 12px;
}


.headercss{
  background-color: #1687A7;
  height: 70px;
  font-family: 'Poppins'; 
}
@media screen and (max-width: 600px) {
.sidebar{
  text-align: center;
  float: center;
} 
.boximg{
  height: 257px;
  border-radius: 15.497406px;
}
.btns{
  height:30px;
  width: 140px;
  
}
.btn{
  height:30px;

}
.sidebar {
  height: auto;
  position: relative;
}
div.content {padding-right:0px;padding-left:0px;}
.loremhide{
  font-family: 'Poppins';
font-style: normal;

font-size: 5px;
line-height: 7px;
  }


.notisec .innerbox .btn{
  border-radius: 32px;
  font-family: 'Poppins';
  background-color:aliceblue;
  font-style: normal;
  color:#276678;
  font-weight:bolder ;
  width: 115px;
    height: 35px;
  margin-left: 35px;
}

.notisec .innerbox .btn1{
  border-radius: 32px;
    background-color: #276678;
    font-family: Poppins;
    font-style: normal;
    color: #FFFFFF;
    font-weight: bolder;
    width: 115px;
    height: 35px;
    margin-left: 32px;
}



.lastbtn{
  font-size: 12px;
  height:21px;
  /* width:94px; */
  /* left: 25px; */
}
.disnone{
  display: none;
}
.nonav{
  display: none;
}
.sidenave{
  display: none;
}
} 
@media screen and (min-width: 600px) {
.camera{
  display: none;
}
.smallhome{
  display: none;
}
}
.main{
  
/* position: absolute; */
margin-left:120px ;
margin-top: 30px;
width: 770px;
height: 1137px;
left: 337px;
top: 50px;
background: rgba(211, 224, 234, 0.1);
box-shadow: inset 117.833px -117.833px 117.833px rgba(160, 170, 178, 0.1), inset -117.833px 117.833px 117.833px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(235.667px);
/* Note: backdrop-filter has minimal browser support */

}



.noti{
box-sizing: border-box;
position: absolute;
width: 714px;
height: 169px;
/* left: -236px; */
top: 70px;
background: #FFFFFF;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 21px;
margin-left: 1px;
}
.lore{
position: absolute;
width: 120px;
height: 45.65px;
/* left: 327px; */
top: 19px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #000000;
}
/* 
.btn{
margin-top: 80px;
margin-left: 66px;
width: 122px;
height: 37px;

background: #276678;
border-radius: 20px;
} */
.imgs{
width: 48px;
border-radius: 35px;
margin-top: 0px;
margin-left: 49px;
}
.ha{
top: 12px;
width: 276px;
left: 287px;
font-size: small;
}
.chat{
box-sizing: border-box;
position: absolute;
width: 714px;
height: 169px;
left: 0px;
top: 70px;
background: #FFFFFF;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 21px;
}
.ha1{
line-height: 15PX;
  top: 24px;
  width: 282px;
  left: 125px;
  font-size: 11px;
}











/* chatbox */
#chat2 .form-control {
  border-color: transparent;
  }
  #chat2 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
  }
  .divider:after,.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  }
.chatmenu{
width: 160px;
height: 173px;
background: #FFFFFF;
border: 1px solid #BAD4E8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px 20px 20px 20px;
}
.chatbox{
width: 378px;
height: 350px;
background: #C3DDE4;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25), inset 117.833px -117.833px 117.833px rgba(160, 170, 178, 0.1), inset -117.833px 117.833px 117.833px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(235.667px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 18px;
}
.chatmsg{
margin: 0px;
padding: 0px;
outline: none;
height: 30px;
border-radius: 5px;
width: 274px;
height: 42px;
background: #FFFFFF;
border: 1px solid #276678;
border-radius: 30px;
  }
  .round{
    border-radius: 50%;
    background: white;
  }
  .buttonIn {
    width: 300px;
    position: relative;
}
#send{
    position: absolute;
    border-radius: 5px;
    /* right: 0px; */
    z-index: 2;
    border: none;
    margin-left: -74px;;
    margin-top: 14px;
    height: 30px;
    cursor: pointer;
    color: #276678;
    background-color: transparent;
    transform: translateX(2px);
}
/* end chatbox */
/* bloch report */
.pop{
  width:auto;
}
.primary{
  color: rgba(39, 102, 120, 1);
  border-color: rgba(39, 102, 120, 1);
 }
.primary.bt:hover
{
  color:red ;
  cursor: pointer;  
}
.modal-content{
  background-color:#F6F5F5;
  border-radius: 11.37px
  ;
}
 /* help */
 .help2{
  margin-left: 69px;
margin-top: 88px;
margin-right:58px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}
.help1{
  margin-left: 14px;
  margin-bottom: 7px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 20px;
    border: 10px;
    color: white;
    text-align: center;
    margin-top: 9px;
}
/* partner preference */
.partnrhr{
  border:  white;
    width: 210px;
    height:0px;
    float: left;
    margin-left: 30px;
    border-style: solid;
  border-width: thin;
}
.innerdivpartner{
  width: 500px;
    height: fit-content;
    margin-left: 105px;
    margin-top:50px;
}
.partnerh2{
  margin-left: 30px;
    margin-top: 13px;
    margin-bottom: 0px;
}

.partnerdiv1{margin-left: 195px;}
.partnerdiv2{margin-left: 135px;}
.partnerdiv3{margin-left: 180px;}
.partnerdiv4{margin-left: 178px;}
.partnerdiv5{margin-left: 148px;}
.partnerdiv6{margin-left: 127px;}
.partnerdiv7{margin-left: 108px;}
.partnerdiv8{margin-left: 128px;}
.partnerdiv9{margin-left: 123px;}
.partnerdiv10{margin-left: 71px;}
.partnerdiv11{margin-left: 108px;}
.partnerdiv12{margin-left: 93px;}
.partnerdiv13{margin-left: 110px;}
.partnerdiv14{margin-left: 101px;}
/* manage your photos */
.head{
  width: 243px;
  height: 36px;
  font-size: 18px;
  line-height: 36px;
  color: #FFFFFF;
  margin-left: 43%;
  font-style: poppins;
  }
  
  .head1{
      font-style: poppins;
  width: 305px;
  height: 21px;
  color: #FFFFFF;
  font-size: 13px;
  margin-left: 39%;
  }
  .indiv{
    
    width: 171px;
    height: 186px;
    margin-left: 21px;
    margin-top: 23px;
    background: #305862;
border: 0.742029px solid #FFFFFF;
}
.bar1{
    
  box-sizing: border-box;
  
  position: absolute;
  width: 140px;
  height: 29.18px;
  left: 49px;
  top: 173px;
  border: 0.416888px solid #FFFFFF;
  }
  .pic1{
    
    width: 103px;
    height: 215.19px;
    margin-left: 20%;
    margin-top: 12%;
background-image: url(../../assets/images/peple.png);
border-radius: 5px;
background-size: contain;
 background-repeat: no-repeat;
 border:none
}
.b1{
  box-sizing: border-box;

  position: absolute;
  width: 80.46px;
 top: 1px;
  
  background: rgba(255, 255, 255, 0.1);
  border: 0.416888px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border:none
}
.btn2{
  width: 50px;
  height: 22px;
  background: #F6F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  margin-left: 80%;
  margin-top: 1%;
  }
  .head2{
    
    font-family: 'Poppins';
    width: 310px;
    height: 25px;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 4%;
    margin-left: 48%;
    }
    .rad{
            
      font-family: 'Poppins';
      width: 305px;
      height: 21px;
      color: #FFFFFF;
      font-size: 13px;
      margin-left: 41%;
     
      }
      .rad1{
        accent-color:#305862 ;
       }  
       .btn1{
        font-family: 'Poppins';
        margin-left: 43%;
        margin-top: 1%;
       width: 200px;
       height: 35px;
      

background: #068004;
box-shadow: inset inset 107px 91.2px 185px rg rgba(10, 10, 10, 0.25);
border-radius: 10px;
border: none;
        }     
.label1{
          width: 350px;
          height: 35px;
          margin-left: 35%;
              margin-top: 8%;
          
          
          background: #FFFFFF;
          border-radius: 15px;}
          .lbl{

            margin-left: 9%;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 800;
            font-size: 13px;
            line-height: 27px;
            color: #067F04;
            } 
/* end manage your photos */
.notisec .notiimg1{
  margin-top: 7px;
                       height: 9px;
      width: 424px;
                      
                      border-radius: 101px;
                      margin-top: 7px;
         margin-left: 104px;
         border-radius: 101px;
}


@media (min-width:900px)  and (max-width:1500px){
  .modal-content{
      width: 326px; 
  }
 .innerbox{
    width: 90%;
   margin-left: 45PX;
}
}
@media (max-width: 900px)
{

.indiv{
    width: 129px;
    margin-left: -4px;
}
}
@media (max-width: 768px)
{
header.stick .menu-row .menu-content .menu-wrap .menu-mobile-icon #toggle-icon span {
    background: #066759;
}

.pic1{
    margin-left: 9%;
}
.bar1{
  width: 116px;
  left: 16px;
  top: 162px;
}
.btn2{
  margin-top: 4%;
}
.head2{
  margin-left: 21%;
}
.rad{
  margin-left: 2%;
}
.btn1{
  margin-left: 7%;
  margin-top: 8%;
  width: 194px;
  height: 32px
}
.label1{
  width: 285px;
  height: 31px;
  margin-left: -6%;
  margin-top: 17%;
}
.lbl{
  font-size: 11px;
}
}
@media (min-width:320px) and (max-width:340px){
  .padding{
      margin-left: -22%;
      
  }
  .label1{
      margin-left: -16%;
  }
  .progress{
      margin-left: 24px
  }
}
@media (min-width:300px)  and (max-width:500px){
  .modal-content{
      width: 326px;
    }
    .modal-title{
      width:127px;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
  }
  
      .help2{
        margin-left: 10px;
        margin-top: 22px;
        margin-right: 10px; 
      font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
    }
    .helpsec .innerbox .linebox{
  margin-left:30px;
  margin-top:30px;
}
.helpsec .innerbox .lineboxsmall{
  margin-left: 110px;
    margin-top: 40px;
    border-radius: 18px;
border: 1px solid white;
border-style: solid;
border-width: thin;
}
 /* .innerbox{
  width: 90%;
 margin-left: 19PX;
} */
/* .notisec .innerbox .notiimg1{width: 95.86px;
  height: 144.07px;
  margin-left: 23px;
  top: 109.04px;}
  .notisec .noti{
    width: 696px;
    height: 145px;
  } */
}


.modal-title{
  width: auto;
  font-weight: 600;
  width:auto;
}

@media (min-width:900px) and (max-width:1500px){
  .modal-title{
      width:127px;
      font-weight: 600;
       margin-right: -4rem!important;
  }
  .px-5{
      padding-left: -0.75rem!important;
  }
  

}
@media (min-width:300px) and (max-width: 900px) {
  .blurleft{
    text-align: center;
    float: center;
  } 
  .rightbg{
      /* display: none;  */
  }
  .mng{
    display: none;
  }
.sidebar{
  text-align: center;
  float: center;
} 
.boximg{
  height: 257px;
  border-radius: 15.497406px;
}
.btns{
  height:30px;
  width: 140px;
}
.btn{
  height:30px;
}
.sidebar {
  height: auto;
  position: relative;
}
div.content {padding-right:0px;padding-left:0px;}
.loremhide{
  font-family: 'Poppins';
font-style: normal;
font-size: 5px;
line-height: 7px;
  }
.h2hide{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 36px;
align-content: center;
}
/* .lineboxhide{
  margin: left 50px;
} */
.submit{
  font-size:12px;
  width:145px;
}
.congrats{
  font-size: 8.11px;
  line-height: 12px;
}
.radio{
  height:6px; width:6px;
}
.radiolbl{
  font-size:6px;
}
.lastbtn{
  font-size: 12px;
  height:21px;
}
.lbl{
  font-size: 11px;
}
.helpsec .innerbox .linebox{
  margin-left: 80px;
  margin-top: 90px;
}
.notisec .noti .notiimg1{
  margin-top:12px;
    height: 107px;
    width: 91px;
    border-radius: 101px;
    margin-left: -15px;
}
.notisec .noti{
  height:130px;
}
} 
@media (min-width: 600px)  {
.camera{
  display: none;
}
}

    

