<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <div class="row">
                <img src="assets/images/Group 638.png" class="imgback px-0"/>
                <img src="assets/images/Group 268.png" class="imgfront p-2"/>
            

            <div class="blurleft1 px-0 py-0">
                <div class="blurleft2 px-0 py-0">
                    <div class="col-lg-10 col-sm-10">
                        <button class="sidebtns sidebtn1 my-3" (click)="lefteditprofilebtn()"><img src="assets/images/Group 598.png"></button>
                        <button class="sidebtns sidebtn2 my-3"><img src="assets/images/Group 765.png" ></button>
                        <button class="sidebtns sidebtn3 my-3"><img src="assets/images/Group 596.png" ></button>
                        <button class="sidebtns sidebtn4 my-3"><img src="assets/images/Group 595.png" ></button>
                        <button class="sidebtns sidebtn5 my-3"><img src="assets/images/Group 594.png" ></button>
                        <button class="sidebtns sidebtn6 my-3"><img src="assets/images/Vector (2).png" >&nbsp;&nbsp;&nbsp;<img src="assets/images/Log Out.png"></button>
                        <div>
                            <div class="pstyle">Download  App For Android and IOS</div>
                            <img src="assets/images/Mask Group.png" id="imgapp">
                            <img src="assets/images/Mask Group (1).png" id="imgapp"><br><br>
                            <p style="color:rgba(3, 80, 102, 1); margin-left:90px">&nbsp;&nbsp;&nbsp;Follow Us</p><br><br>
                           <span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/Group.png" style="background-color:rgba(3, 80, 102, 1); margin-left:50px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <img src="assets/images/Group (1).png" style="background-color:rgba(3, 80, 102, 1)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <img src="assets/images/Group (2).png" style="background-color:rgba(3, 80, 102, 1)">
                           </span>          
                         </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-sm-12 px-0">
            <div class="rightbg">
                <!-- <div class="innerbox mx-3 my-3">
                </div> -->
                <div>
                    <button  class="btns mx-lg-3 my-3 mx-2 px-1">Edit profile</button>
                    <button  class="btns mx-lg-3 my-3 mx-2 px-1">Partner Preference</button>
                    <button  class="btns mng mx-lg-3 my-3">Manage photos</button>
                </div>
               
                    <div class="linebox col-lg-3 mx-lg-5 col-sm-12 my-lg-5 mx-1 my-1">
                        <div>
                            <img class="boximg my-sm-3" src="assets/images/ali-muhamad-vAyDuvcjXcs-unsplash.jpg">
                            <img class="camera col-sm-1 p-5 mx-3 my-0"src="assets/images/camera.png">
                        </div>
                        <div class="content">
                          <h4 class="h4text">Name</h4>
                          <hr>
                          <span class="verticalline"></span>
                          <span class="verticalline"></span>
                          <div style="text-align: center; color:white"><span>calicut</span>&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;&nbsp;<span>kerala</span>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;&nbsp;<span>India</span>
                          </div>
                          
                          <!--     form   -->
                          <form class="form-inline" action="/action_page.php">
                              <div class="form-group" style="color:white;">
                                <label for="maritalstatus">Marital status</label><label class="lb1">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" class="form-control formtypes" id="maritalstatus" placeholder="" name="maritalstatus" >
                              </div>
                              <div class="form-group" style="color:white;">
                                <label for="relegion">reliogion</label><label class="lb2">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <input type="text" class="form-control formtypes" id="relegion" placeholder="" name="relegion">
                              </div>
                              
                              <div class="form-group" style="color:white;">
                                  <label for="education">Education</label><label class="lb3">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                  <input type="text" class="form-control formtypes" id="education" placeholder="" name="education">
                              </div>
                              <div class="form-group" style="color:white;">
                                  <label for="relegion">Job Profession</label><label class="lb4">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                  <input type="text" class="form-control formtypes" id="job" placeholder="" name="job">
                              </div>
                              
                            </form>
                        </div>
                    </div>
               
            </div>
        </div>
    </div>
</div>
    

      
      