.sidebar{
  /* padding-right:0px;padding-left:0px; */
    margin: 0;
    padding: 0;
    /* width: 300px; */
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .imgside{
    width: 23px;
    height: 25px;
    margin-right: 15px;
  }
  .lblside{
    width: 105px;
    font-size: 16px;
    color:rgba(39, 102, 120, 1);

}
.logo{
  width: 38px;
    margin-right: 30px;
    height: 27px;
}
.homeicon{
  margin-right: 4px;
}
  .prolbl{
    font-size: initial;
  }
  .partner1{
    font-family: poppins;

  }
  .pstyle{
    width: 251px;
height: 21px;
left: 135px;
top: 1099px;
color:rgba(39, 102, 120, 1);
  }
  .shadowdiv{
    background: rgba(49, 65, 76, 0.25);
border: 1px solid #D3E0EA;
box-shadow: inset 17.1667px -17.1667px 17.1667px rgba(190, 167, 167, 0.015), inset -17.1667px 17.1667px 17.1667px rgba(255, 255, 255, 0.015);
backdrop-filter: blur(5.49333px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 15px 15px 15px 15px;
font-family: 'Poppins';
color: white;
font-weight: bolder;
font-size: 13px;
  }
/*       here       */
.green {
  background-color: white;
}

.red {
  background-color: red;
}

.navlabel{
 color: white; 
}

.blurleft1{
background-image:url("/assets/images/abt.png") ;
height: 1700px;
float:left;
background-size: 100% 100%;
}
.blurleft2{
  background-image:url("/assets/images/Rectangle 60.png") ;
  height: 1700px;
  /* float:left; */
}
.rightbg{
  background-image:url("/assets/images/abt.png"); 
  float:left;
  background-repeat: no-repeat; 

  height:1881px; 

  width:fill-available;
  background-size: 100% 100%;
}

@media screen and (max-width: 600px) {
  .blurleft{
    text-align: center;
    float: center;
  } 
  /* .rightbg{
      /* display: none;  */
  /* } */ 
  .mng{
    display: none;
  }
  .widthvar{
    margin-left: -15px;
    width: 318px;
  }
  .partner1{
    font-size: 11px;
    
  }
} 


.innerbox{
  box-shadow: 20px 20px 50px 10px rgb(62 163 192 / 30%) inset;
        opacity: 6;  
        height:fit-content; 
    border-radius: 18px;
box-shadow: whitesmoke 0px 30px 40px -2em inset;
Offset: 117.83px, -117.83px;
background:rgba(160, 170, 178, 0.1);
margin-bottom: 121px;
margin-top: 45px;
float: left;
}
.innerbox1{
  
opacity: 6;  

Offset: 117.83px, -117.83px;
background:rgba(160, 170, 178, 0.1);
margin-bottom: 121px;
margin-top: 45px;

}
.verticalline{
  border-left: 2px solid white;
  height: 45px;
  margin-left: 95px;
}

.btns{
  height: 53px;
  width: 214px; 
  border-radius: 16px;
  color:rgba(3, 80, 102, 1);
  background-color:white ;
  border-color: white;
}
.btns1{
  height: 53px;
  width: 214px; 
  border-radius: 16px;
  color:rgba(3, 80, 102, 1);
  background-color:white ;
  border-color: white;
}
.btn4{
  margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
}

.a{
  font-size:100px;
}
.imgback {
  height: 250px;
  background-image: url("/assets/images/abt.jpg");
  backdrop-filter: blur(33.3227px);
  opacity: 0.4;
  background-size: cover;
  display: inline-block;
}
.imgfront {
height: 150px;
position: absolute;
background-size: cover;
}
.imgfront {
width: 150px;
height: 150px;
border-radius: 50%; 
position: absolute;
top: 55px;
left: 70px;
background-size: cover;
}
.sidebtns
{   
border-radius: 12px;
left: 40px;
border:none;
background:white;
width: 247px;
height: 55px;
}
/* .rightbg{
float:left;
background-repeat: no-repeat; 
height: 1500px;
} */
.innerbox{
box-shadow: 20px 20px 50px 10px rgb(62 163 192 / 30%) inset;
      opacity: 6; 
      height: 1400px;
  border-radius: 18px;
box-shadow: whitesmoke 0px 30px 40px -2em inset;
Offset: 117.83px, -117.83px;
background:rgba(160, 170, 178, 0.1);
}
.helpsec .innerbox .lineboxsmall{
  margin-left: 333px;
    margin-top: 50px;
    border-radius: 18px;
border: 1px solid white;
border-style: solid;
border-width: thin;
}
.linebox{
border-radius: 18px;
border: 1px solid white;
border-style: solid;
border-width: thin;
}


.imgdiv{
/* height: 348px; */
/* width: 341px; */
/* border-radius: 15.497406px; */
/* float: left; */
}
.boximg{

border-radius: 15.497406px;
}
.lineboxhide{
height: 40px;
border-radius: 10px;
border: 1px solid white;
border-width: thin;
align-self: center;
}
@media (min-width:900px) and (max-width:1500px){
  .lineboxhide{
    width: 208px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid white;
    border-width: thin;
    align-self: center;
    margin-left: 296px;
    }
   

}






.camera{
width:55px;
margin-left: 75%;
  margin-top: -486px;
border-color: red;
}
.content{
border-radius: 15.497406px;
font-family: 'Poppins'; 
}
.verticalline{
border-left: 2px solid white;
height: 45px;
}
.h4text{
text-align: center;
color: white;
font-family: 'Poppins'; 
}

.imgpos{
  position: relative;
    top: 35px;
}

hr{height:2px;border-width:0;color:white;background-color:white;font-family:'Poppins';  }
.formtype{
background-color:transparent;
border: 0px;
}
.lb{
font-family:'Poppins'; 
}
.btn{
/* margin-top: 80px;
margin-left: 66px; */
/* width: 122px; */
/* height: 35px;

background: #276678;
border-radius: 10px; */

}
.personaldivinputtypes{
color:aliceblue;
border: 0px;
outline: none;
border-bottom: 1px solid white;
background:transparent;
}
.personaldiv{
  background: rgba(188, 204, 210, 0.1);
box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.15), inset 44.5333px -44.5333px 44.5333px rgba(143, 155, 160, 0.1), inset -44.5333px 44.5333px 44.5333px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(89.0667px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 18px;
font-family: poppins;
font-weight: bolder;
color: white;
height: fit-content;
}
.btnsise{
 
  height: 20px;
  width: 20px;
    background-repeat: no-repeat;
    border: none;
}
.h2hide{
font-family: 'Poppins';
font-style: normal;
font-weight: 550;
color:white;
font-weight: 600;
font-size: 22px;

}
@media (min-width:900px) and (max-width:1500px){
  .h2hide{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 550;
    color:white;
    font-weight: 600;
    font-size: 17px;
    }


}



.loremhide{
font-family: 'Poppins';
font-style: normal;
color: white;
font-size: 16px;
line-height: 25px;
}
.imgsrc{
  width: 261px;
    height: 377px;
    border-radius: 6%;
    border: 1px solid white;
    background-repeat: no-repeat;
    margin-left: 13%;
    margin-bottom: 12%;
}
.fixfoot{
  background-color: #dee2e6;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
}

.backs{
  margin-top: 79%;
  color: white;
  font-family: poppins;
  font-size: 95%;
  background: rgba(96, 100, 102, 0.25);
border: 1px solid #D3E0EA;
box-shadow: inset 17.1667px -17.1667px 17.1667px rgba(190, 167, 167, 0.015), inset -17.1667px 17.1667px 17.1667px rgba(255, 255, 255, 0.015);
backdrop-filter: blur(5.49333px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 15px 15px 0px 0px;
font-weight: bold;
}
.smnav{
  background: rgba(196, 196, 196, 0.5);
box-shadow: inset 33.5333px -33.5333px 33.5333px rgba(149, 149, 149, 0.1), inset -33.5333px 33.5333px 33.5333px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(67.0667px);
border-radius: 0px 0px 15px 15px;
height: 36px;
}
.model-content{
width:fit-content;
}
.congrats{
font-size: 14px;
  line-height: 20px;
  color:white;
  font-weight: bolder;
}
.inner_shadow{
box-shadow:
     inset 0 -3em 3em rgba(0,0,0,0.1),
           0 0  0 2px rgb(255,255,255),
           0.3em 0.3em 1em rgba(0,0,0,0.3);
box-shadow: 20px 20px 50px 10px rgba(62, 163, 192, 0.3) inset;
border-radius: 12px;
opacity: 6;  
}
.radiobtn{
height:35px; width:15px; vertical-align: middle;margin:8px;
}
.lastbtn{
cursor: pointer;
    color :white;
    border: 1px solid white;
    background-color: red;
    height: 50px;
    /* width: 200px; */
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    /* margin: 55px 400px; */
    border-radius: 12px;
}


.headercss{
  background-color: #1687A7;
  height: 70px;
  font-family: 'Poppins'; 
}
@media (min-width: 300px) and (max-width:900px) {
.sidebar{
  text-align: center;
  float: center;
} 
.boximg{
 
  width: 99%;
  border-radius: 15.497406px;
  
}
.btns{
  height:30px;
  width: 140px;
  
}
.btn{
  height:30px;

}
.sidebar {
  height: auto;
  position: relative;
}
div.content {padding-right:0px;padding-left:0px;}
.loremhide{
  font-family: 'Poppins';
font-style: normal;

font-size: 5px;
line-height: 7px;
  }

.lastbtn{
  font-size: 12px;
  height:21px;
  /* width:94px; */
  /* left: 25px; */
}
.disnone{
  display: none;
}
.nonav{
  display: none;
}
.sidenave{
  display: none;
}
.personaldiv{
  font-size: 11px;
 
}

} 
@media screen and (min-width: 600px) {
.camera{
  display: none;
}
.smallhome{
  display: none;
}
.sidenave1{
  display: none;
}
.rightbg{
  height:1881px;
}
.contper{
  font-size: 15px;
}
.css1{
  display: none;
}
.fixfoot{
  display: none;
}

}
.main{
  
/* position: absolute; */
margin-left:120px ;
margin-top: 30px;
width: 770px;
height: 1137px;
left: 337px;
top: 50px;
background: rgba(211, 224, 234, 0.1);
box-shadow: inset 117.833px -117.833px 117.833px rgba(160, 170, 178, 0.1), inset -117.833px 117.833px 117.833px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(235.667px);
/* Note: backdrop-filter has minimal browser support */

}



.noti{
box-sizing: border-box;
position: absolute;
width: 714px;
height: 169px;
/* left: -236px; */
top: 70px;
background: #FFFFFF;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 21px;
margin-left: 38px;
}
.lore{
position: absolute;
width: 120px;
height: 45.65px;
/* left: 327px; */
top: 19px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #000000;
}

.hidesec .innerbox .btn{
margin-top: 80px;
margin-left: 110px;
border-radius: 20px;

    background: #276678;
    border-radius: 14px;
}
.imgs{
width: 48px;
border-radius: 35px;
margin-top: 0px;
margin-left: 49px;
}
.ha{
top: 12px;
width: 276px;
left: 287px;
font-size: small;
}
.chat{
box-sizing: border-box;
position: absolute;
width: 714px;
height: 169px;
left: 0px;
top: 70px;
background: #FFFFFF;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 21px;
}
.ha1{
  width: 406px;
  line-height: 15PX;
  top: 32px;
  left: 127px;
  font-size: 10px;
}











/* chatbox */
#chat2 .form-control {
  border-color: transparent;
  }
  #chat2 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
  }
  .divider:after,.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  }
.chatmenu{
width: 160px;
height: 173px;
background: #FFFFFF;
border: 1px solid #BAD4E8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px 20px 20px 20px;
}
.chatbox{
width: 378px;
height: 350px;
background: #C3DDE4;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25), inset 117.833px -117.833px 117.833px rgba(160, 170, 178, 0.1), inset -117.833px 117.833px 117.833px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(235.667px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 18px;
}
.chatmsg{
margin: 0px;
padding: 0px;
outline: none;
height: 30px;
border-radius: 5px;
width: 274px;
height: 42px;
background: #FFFFFF;
border: 1px solid #276678;
border-radius: 30px;
  }
  .round{
    border-radius: 50%;
    background: white;
  }
  .buttonIn {
    width: 300px;
    position: relative;
}
#send{
    position: absolute;
    border-radius: 5px;
    /* right: 0px; */
    z-index: 2;
    border: none;
    margin-left: -74px;;
    margin-top: 14px;
    height: 30px;
    cursor: pointer;
    color: #276678;
    background-color: transparent;
    transform: translateX(2px);
}
/* end chatbox */
/* bloch report */
.pop{
  width:auto;
}
.primary{
  color: rgba(39, 102, 120, 1);
  border-color: rgba(39, 102, 120, 1);
 }
.primary.bt:hover
{
  color:red ;
  cursor: pointer;  
}
.modal-content{
  background-color:#F6F5F5;
  border-radius: 11.37px
  ;
}
 /* help */
 .help2{
  margin-left: 69px;
margin-top: 88px;
margin-right:58px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}
.help1{
  margin-left: 14px;
  margin-bottom: 7px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 20px;
    border: 10px;
    color: white;
    text-align: center;
    margin-top: 9px;
}
/* partner preference */
.partnrhr{
  border:  white;
    width: 210px;
    height:0px;
    float: left;
    margin-left: 30px;
    border-style: solid;
  border-width: thin;
}
.innerdivpartner{
  /* width: 500px; */
    height: fit-content;
    margin-left: 105px;
    margin-top:50px;
}
.partnerh2{
  margin-left: 30px;
    margin-top: 13px;
    margin-bottom: 0px;
}

.partnerdiv1{margin-left: 195px;}
.partnerdiv2{margin-left: 135px;}
.partnerdiv3{margin-left: 180px;}
.partnerdiv4{margin-left: 178px;}
.partnerdiv5{margin-left: 148px;}
.partnerdiv6{margin-left: 127px;}
.partnerdiv7{margin-left: 108px;}
.partnerdiv8{margin-left: 128px;}
.partnerdiv9{margin-left: 123px;}
.partnerdiv10{margin-left: 71px;}
.partnerdiv11{margin-left: 108px;}
.partnerdiv12{margin-left: 93px;}
.partnerdiv13{margin-left: 110px;}
.partnerdiv14{margin-left: 101px;}
/* manage your photos */
.head{
  width: 243px;
  height: 36px;
  font-size: 18px;
  line-height: 36px;
  color: #FFFFFF;
  margin-left: 43%;
  font-style: poppins;
  }
  
  .head1{
      font-style: poppins;
  width: 305px;
  height: 21px;
  color: #FFFFFF;
  font-size: 13px;
  margin-left: 39%;
  }
  .indiv{
    
    width: 171px;
    height: 186px;
    margin-left: 21px;
    margin-top: 23px;
    background: #305862;
border: 0.742029px solid #FFFFFF;
}
.bar1{
    
  box-sizing: border-box;
  
  position: absolute;
  width: 140px;
  height: 29.18px;
  left: 49px;
  top: 173px;
  border: 0.416888px solid #FFFFFF;
  }
  .pic1{
    
    width: 103px;
    height: 215.19px;
    margin-left: 20%;
    margin-top: 12%;
background-image: url(../../assets/images/peple.png);
border-radius: 5px;
background-size: contain;
 background-repeat: no-repeat;
 border:none
}
.b1{
  box-sizing: border-box;

  position: absolute;
  width: 80.46px;
 top: 1px;
  
  background: rgba(255, 255, 255, 0.1);
  border: 0.416888px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border:none
}
.btn2{
  width: 50px;
  height: 22px;
  background: #F6F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  margin-left: 80%;
  margin-top: 1%;
  }
  .head2{
    
    font-family: 'Poppins';
    width: 310px;
    height: 25px;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 4%;
    margin-left: 48%;
    }
    .rad{
            
      font-family: 'Poppins';
      width: 305px;
      height: 21px;
      color: #FFFFFF;
      font-size: 13px;
      margin-left: 41%;
     
      }
      .rad1{
        accent-color:#305862 ;
       }  
     
       .btn1{
        font-family: 'Poppins';
        margin-left:38%;
        margin-top: 1%;
       width: 200px;
       height: 35px;
      

background: #068004;
box-shadow: inset inset 107px 91.2px 185px rg rgba(10, 10, 10, 0.25);
border-radius: 10px;
border: none;
        }     
.label1{
          width: 350px;
          height: 35px;
          margin-left: 35%;
              margin-top: 8%;
          
          
          background: #FFFFFF;
          border-radius: 15px;}
          .lbl{

            margin-left: 9%;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 800;
            font-size: 13px;
            line-height: 27px;
            color: #067F04;
            } 
/* end manage your photos */


/* search */
.h2partner{
  margin-left:57px;
  font-family: poppins;
}
.h2partner1{
  margin-left:57px;
  font-family: poppins;
}
.searchsec .linebox{
  margin-bottom: 22px;
    height: 1043px;
    padding-left: 0px;
    padding-right: 0px;
}
.searchsec .innerbox .h2hide{
  line-height: 35px;
    margin-left: 17px;
}
.searchsec .innerbox .btn{
  margin-left: 164px;
  background-color: green;
  margin-top: 62px;
  width: 182px;
  border-radius: 13px;
}
/* hide */
/* .hidesec .innerbox .h2hide{
  line-height: 25px;
} */
/* explore */
.exploresec .roundpic{
  position: relative;
        /* background-image: url(../../assets/images/pinkshall_women.jpg); */
        width: 118px;
  height: 110px;
        background-repeat: no-repeat;
        left: 22px;
    margin-top: 15px;
    border-radius: 50%;
 }
.exploresec .linebox2{
  height: 140px;
  width: 722px;
  /* left: 452px; */
  margin-top: 95px;
  margin-left: 45px;
  margin-bottom:2px;
  border-radius: 18px;
  border: 1px solid white;
  border-style: solid;
  border-width: thin;
 }
 .exploresec .innerboxexplore{
  opacity: 6;
  height: 1489px;
  width: 90%;
  margin-left: 50px;
  border-radius: 18px;
  box-shadow: whitesmoke 0px 30px 40px -2em inset;
  Offset: -117.83px, 117.83px;
  background: rgba(255, 255, 255, 0.1);
  Offset: 117.83px, -117.83px;
  background: rgba(160, 170, 178, 0.1);
  margin-bottom: 121px;
  margin-top: 37px;
 }
 /* notification */

.notisec .notiimg1{
  margin-top: 7px;                     
  border-radius: 101px;
  margin-top: 7px;
  margin-left: 104px;
  border-radius: 101px;
  height: 154px;
  width: 165px;
}
 .notisec .innerbox .noti .btn1{
  border-radius: 32px;
  background-color: #276678;
  font-family: Poppins;
  font-style: normal;
  color: #FFFFFF;
  font-weight: bolder;
  width: 115px;
  height: 35px;
  margin-left: 35px;
  margin-top: 30px;
}
.notisec .innerbox .btn{
  border-radius: 32px;
  font-family: 'Poppins';
  background-color:aliceblue;
  font-style: normal;
  color:#276678;
  font-weight:bolder;
  width: 115px;
  height: 35px;
  margin-left: 85px;
  margin-top: 0px;
}

.deleteprosec .innerbox .btn{
  border-radius: 13px;
  color:#276577;
  background-color:white;
}
.deleteprosec .innerbox .btn:hover{
    color: #d3d3d3;
    background-color:#276577;
}




.modal-title{
  width: auto;
  font-weight: 600;
  width:auto;
}
.searchsec .innerbox .searchlb{
  margin-left: 220px;
    margin-right: 5px;
}
.searchsec .innerbox .searchbtn{
  padding-left: 21px;
    border-radius: 13px;
    margin-left: 204px;
    width: 381px;
    height: 43px;
    margin-bottom: 96px;
}
.searchpartnerdiv1{margin-left: 195px;}
.searchpartnerdiv2{margin-left: 135px;}
.searchpartnerdiv3{margin-left: 180px;}
.searchpartnerdiv4{margin-left: 178px;}
.searchpartnerdiv5{margin-left: 148px;}
.searchpartnerdiv6{margin-left: 127px;}
.searchpartnerdiv7{margin-left: 164px;}
.searchpartnerdiv8{margin-left: 111px;}
.searchpartnerdiv9{margin-left: 121px;}
.searchpartnerdiv10{margin-left: 128px;}
.searchpartnerdiv11{margin-left: 141px;}
.searchpartnerdiv12{margin-left: 156px;}
.hidesec .innerbox .modal-content .yesbtn{
  width: 110px;
    height: 30px;
    border-radius: 13px
}
.hidesec .innerbox .modal-content .nobtn{
  width: 110px;
    height: 30px;
    border-radius: 13px;
    margin-left: 46px;
}
/* .hidesec .innerbox .modal1{
  display: block;
  margin-left: 30px;
  margin-top: 60px;
} */
.editpwdpart .blk2{
  position: absolute;
  margin-left: 47px;
  font-size: 15px;
}


.helpsec .linebox{
  margin-left: 75px;
    border-radius: 18px;
    border: 1px solid white;
    border-style: solid;
    border-width: thin;
    margin-top: 75px;

}

.bigbtn{
  background-color: green;
    margin-left: 30%;
    color: white;
    width: 35%;
       height: 3%;
    border: none;
    border-radius: 9px;
    font-weight: bolder;
}
.eyestyle{
 position: relative; 
 color: black;
 margin-left: 205px;
 margin-top: 9px;
}
.eyestyle2{
  position: relative;
  margin-left: 224px;
  margin-top: 9px;
  color: black;
}
/* .innerbox{
  height:96%;
} */
.disnone .rightbg .innerbox{
  height: 96%;
}
.notisec .rightbg .innerbox{
  height: 38%;
}
.hidesec .rightbg .innerbox{
  height: 88%;
}
.hidesec .rightbg{
  height: 735px;
}
.pswlbl{
  line-height: 35px;
}
@media (min-width:900px) and (max-width:1500px){
  
  .modal-title{
      width:127px;
      font-weight: 600;
       margin-right: -4rem!important;
  }
  .px-5{
      padding-left: -0.75rem!important;
  }
  .editpwdpart .sp{
    margin-left:17px;
  } 
.exploresec .btns{
  margin-left: 43px;
  margin-top: 30px;
}   
/* ajin change password part */
.pswtype{
  height: 35px;
  width: 235px;
  border-radius: 8px;
  position: absolute;
}
.chatsec .lineboxhide{
  width: 142px;
    margin-left: 142px;
}
}

@media (min-width: 992px){
   /* .col-lg-6 {
   flex: 0 0 50%;
   max-width: 32%;
} */
.psw{
 margin-left:105px;
}

.editpwdpart .blk{
 margin-top: 115px;
    margin-left: 104px;
}
    
.blk{
 margin-top: 100px;
 
 margin-left: 105px;


}   
   
.pswtype{
   border-radius: 8px;
   position: absolute;
}
}
@media (min-width: 992px){
    .col-lg-6 {
    flex: 0 0 50%;
    max-width: 32%;
}
.psw{
  margin-left:105px;
}
.blk{
  margin-top: 100px;

  
  margin-left: 105px;


  
}

}
@media (min-width:300px) and (max-width: 900px) {
  .chatsec .chat{
    width:340px;
  }
  .chatsec .ha1{
    line-height: 12PX;
    top: 23px;
    width: 252px;
    left: 102px;
  }
  .searchpartnerdiv1{margin-left: 74px;}
.searchpartnerdiv2{margin-left: 23px;}
.searchpartnerdiv3{margin-left: 180px;}
.searchpartnerdiv4{margin-left: 178px;}
.searchpartnerdiv5{margin-left: 148px;}
.searchpartnerdiv6{margin-left: 127px;}
.searchpartnerdiv7{margin-left: 164px;}
.searchpartnerdiv8{margin-left: 111px;}
.searchpartnerdiv9{margin-left: 121px;}
.searchpartnerdiv10{margin-left: 128px;}
.searchpartnerdiv11{margin-left: 141px;}
.searchpartnerdiv12{margin-left: 156px;}
  .searchsec .innerbox .btn{
    margin-left: 83px;
  
    margin-top: 62px;
;
    width: 115px;
  }
  .innerdivpartner{
    margin-left:0px;
  }
  .searchsec .innerbox .searchbtn{
    margin-left: 16px;
    width: 300px;
    margin-bottom: 35px;
     }
  .searchsec .innerbox .h2partner1{
    margin-left: 60px;
  }
  .searchsec .form-inline .form-group{
    display: flex;
  }
  .blurleft{
    text-align: center;
    float: center;
  } 
  
  .mng{
    display: none;
  }
.sidebar{
  text-align: center;
  float: center;
} 
.boximg{
  height: 257px;
  border-radius: 15.497406px;
}
.exploresec .btns{
  height: 30px;
    width: 118px;
    padding-left: 0px;
}
.exploresec .lineboxhide{
  margin-left: 80px;
}
.exploresec .linebox2{
  height: 110px;
    margin-top: 50px;
    margin-right: 5px;
    margin-left: 5px;
    width:342px;
}
.exploresec .roundpic{
  width: 95px;
    height: 90px;
    background-repeat: no-repeat;
    left: 11px;
    margin-top: 10px;
}
.editmng .head{
  margin-left:25%
}
.editmng .head1{
  margin-left:13%
}
.btn{
  height:30px;
}
.sidebar {
  height: auto;
  position: relative;
}
div.content {padding-right:0px;padding-left:0px;}
.loremhide{
  font-family: 'Poppins';
font-style: normal;
font-size: 5px;
line-height: 7px;
  }
.h2hide{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 36px;
align-content: center;
}
/* .lineboxhide{
  margin: left 50px;
} */
.submit{
  font-size:12px;
  width:145px;
}
.congrats{
  font-size: 8.11px;
  line-height: 12px;
}
.radio{
  height:6px; width:6px;
}
.radiolbl{
  font-size:6px;
}
.lastbtn{
  font-size: 12px;
  height:21px;
  font-size: 12px;
  height: 23px;
  margin-left: 57px;
  width: 142px;

}
.lbl{
  font-size: 11px;
}
.helpsec .innerbox .linebox{
  margin-left: 36px;
  margin-top: 65px;
}
.notisec .noti .notiimg1{
  margin-top:12px;
    height: 107px;
    width: 91px;
    border-radius: 101px;
    margin-left: -15px;
}
.searchsec .innerbox .lineboxhide{
  margin-left: 50px;
}
.hidesec .innerbox{
  margin-left:30px;
}
.hidesec .innerbox .lineboxhide{
  margin-left: 77px;
}
.hidesec .innerbox .loremhide{
  font-size:10px;
  margin-left: 40px;
  line-height: 12px;
}
.hidesec .innerbox .h2hide{
  font-size:12px;
}
.hidesec .innerbox .btn{
  height: 32px;
background: #276678;
border-radius: 14px;

margin-left: 45px;

}
.deleteprosec .h2hide{
  font-size: 13px;
    margin-left: 5px;
    padding-left: 0px;
    line-height: 26px;
}
.hidesec .innerbox .modal-content{
  width: 310px;
  height: 210px;
}
.hidesec .innerbox .modal-content .modal-footer .yesbtn{
  height: 29px;
  margin-left: 0px;
  width: 101px;
   border-radius: 14px;
}
.notisec .innerbox .noti .btn1{

  width: 96px;
    height: 31px;
    margin-left: 48px;

    width: 85px;
    height: 31px;
    margin-left: 52px;
    margin-top: 3px;

}
.notisec .innerbox .noti .btn{
  width: 96px;
    height: 31px;
    margin-left: 148px;
    margin-top: -55px;
}
.notisec .innerbox .h1noti1{
  margin-left: 57px;
  font-size: 20px;
}
.notisec .innerbox .h1noti{
  line-height: 15px;
  margin-left: 65px;
  font-size: 10px;
}
.notisec .innerbox .ha{
  left: 257px;
    font-size: 9px;
}

.notisec .noti{
  height:130px;
  margin-left: 17px;
}
.notisec .innerbox .ha1{
  left: 127px;
    margin-top: 13px;
    font-size: 9px;

   
}
.notisec .noti{
  height:130px;
  margin-left: 2px;

}
.notisec .innerbox .lore{
  
}

.editpwdpart .lineboxhide{
height: 33px;
    margin-left: 89px;
    width: 112px;
}
.editpwdpart .innerbox .lineboxhide{

    text-align: center;
    line-height: 23px;
    font-size: 9px;
    height: 30px;
    width: 171px;
    margin-left: 83px;
}
.editpwdpart .innerbox .blk2{
  margin-left:20px;
}
.editpwdpart .innerbox .pswtype{
  width: 270px;
    height: 38px;
    border-radius: 13px;
    position: absolute;
}
.editpwdpart .innerbox .eyestyle{
  margin-left: 224px;
} 
.editpwdpart .spl{
  margin-left:60px;
} 
.deleteprosec .lineboxhide{
  margin-left: 65px;
height: 28px;
}
.btns1{
  height: 24px;
    width: 105px;
    font-size: 88%;
    font-weight: bolder;
}
.h2partner{
  font-size: 126%;
}
}
@media (min-width: 600px)  {
.camera{
  display: none;
}

}
@media (min-width:900px)  and (max-width:1500px){
  .modal-title{
    width:127px;
    font-weight: 600;
     margin-right: -4rem!important;
}
.px-5{
    padding-left: -0.75rem!important;
}
.editpwdpart .sp{
  margin-left:17px;
} 
  .modal-content{
      width: 326px; 
  }
 .innerbox{
    width: 90%;
   margin-left: 45PX;
}
.searchsec .innerbox .lineboxhide{
  margin-left: 200px;
}
.hidesec .innerbox .lineboxhide{
  margin-left: 242px;
}
.deleteprosec .lineboxhide{
  margin-left: 74px;
}

}
@media (max-width: 900px)
{

.indiv{
    width: 129px;
    margin-left: -4px;
}
}
@media (max-width: 768px)
{
header.stick .menu-row .menu-content .menu-wrap .menu-mobile-icon #toggle-icon span {
    background: #066759;
}

.pic1{
    margin-left: 9%;
}
.bar1{
  width: 116px;
  left: 16px;
  top: 162px;
}
.btn2{
  margin-top: 4%;
}
.editmng .head2{
  margin-left: 95px;
}
.rad{
  margin-left: 2%;
}
.btn1{
  margin-left: 7%;
  margin-top: 8%;
  width: 194px;
  height: 32px
}
.label1{
  width: 285px;
  height: 31px;
  margin-left: -6%;
  margin-top: 17%;
}
.lbl{
  font-size: 11px;
}
}
@media (min-width:320px) and (max-width:340px){
  .padding{
      margin-left: -22%;
      
  }
  .label1{
      margin-left: -16%;
  }
  .progress{
      margin-left: 24px
  }
}
@media (min-width:300px)  and (max-width:500px){
  .modal-content{
      width: 326px;
    }
    .modal-title{
      width:127px;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
  }
  
      .help2{
        margin-left: 10px;
        margin-top: 22px;
        margin-right: 10px; 
      font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
    }
    .helpsec .help2{
      margin-left: 10px;
        margin-top: 22px;
        margin-right: 10px; 
      font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
color: #FFFFFF;
      font-size: 12px;
    line-height: 18px;
    }
    .helpsec .innerbox .linebox{
  margin-left:30px;
  margin-top:30px;
}
.helpsec .innerbox .lineboxsmall{
  margin-left: 110px;
    margin-top: 40px;
    border-radius: 18px;
border: 1px solid white;
border-style: solid;
border-width: thin;
}


  .editdiv{
    display: none;
  }
}