<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-12">
            <div class="row">
                <img src="assets/images/Group 638.png" class="imgback  px-0"/>
                <img src="assets/images/Group 268.png" class="imgfront p-2"/>

                <div class="blurleft">
                    <div class="col-lg-10 col-md-10">
                        <button class="sidebtns sidebtn1"><img src="assets/images/Group 598.png"></button>
                        <button class="sidebtns sidebtn2"><img src="assets/images/Group 765.png" ></button>
                        <button class="sidebtns sidebtn3"><img src="assets/images/Group 596.png" ></button>
                        <button class="sidebtns sidebtn4"><img src="assets/images/Group 595.png" ></button>
                        <button class="sidebtns sidebtn5"><img src="assets/images/Group 594.png" ></button>
                        <button class="sidebtns sidebtn6"><img src="assets/images/Vector (2).png" >&nbsp;&nbsp;&nbsp;<img src="assets/images/Log Out.png"></button>
                        <div>
                            <div class="pstyle">Download  App For Android and IOS</div>
                            <img src="assets/images/Mask Group.png" id="imgapp">
                            <img src="assets/images/Mask Group (1).png" id="imgapp"><br><br>
                            <p style="color:rgba(3, 80, 102, 1); margin-left:90px">&nbsp;&nbsp;&nbsp;Follow Us</p><br><br>
                           <span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/Group.png" style="background-color:rgba(3, 80, 102, 1); margin-left:50px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <img src="assets/images/Group (1).png" style="background-color:rgba(3, 80, 102, 1)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <img src="assets/images/Group (2).png" style="background-color:rgba(3, 80, 102, 1)">
                           </span>          
                         </div>
                    
                
                
                
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 px-0">
            <div class="rightbg" style="background-image:url(assets/images/abt.png);">
                <div class="innerbox mx-3">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 " id="btnid">
                                <button  class="btns mx-5 my-5">Edit profile</button>
                                <button  class="btns mx-5 my-5">Partner Preference</button>
                                <button  class="btns mx-5 my-5">Manage photos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

      
      