<div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#report">
REPORT
</button>

<!-- Modal -->

<div class=" row mx-0 px-0">
  <div class="pop col-lg-12 col-sm-12 col-md-12 mx-0">
<div class="modal fade" id="report" tabindex="10" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog btx" role="document">
    <div class="modal-content">
      <div class="col-lg-12 col-sm-12 col-12">
      <div class="col-lg-12 col-sm-12 col-12 block mx-3 px-5 d-flex my-2">
        <img src="assets/images/report.png" style="height: 25px;" class="mx-1"> 
        <h3 class=" block modal-title" id="exampleModalLongTitle" style="color:  #276678; align-content: center;" >Report NAME</h3>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      </div>
      <div>

      <p class="mx-3"  style="color:rgba(107, 122, 126, 1);">  Please tell us why you are blocking Later.Dont worry we dont tell them </p>
      <div class="butn col-lg-12 col-sm-12 my-2">
        <button type="button" class=" primary btn btn-outline-primary my-2 col-12" >Inappropriate Profile</button><br>
        <button type="button" class=" primary btn btn-outline-primary col-12">Inappropriate Messages</button><br>
        <button type="button" class=" primary btn btn-outline-primary my-2 col-12">Already Married</button><br>
        <button type="button" class=" primary btn btn-outline-primary col-12 my-1">Misusing matrimony</button>
        <button type="button" class=" primary btn btn-outline-primary col-12">Wrong Contact Details</button><br>
        <button type="button" class=" primary btn btn-outline-primary my-2 col-12">Scam or Spam</button><br> 
      </div>
        
      </div>
     
    </div>
  </div>
</div>
</div>
</div>
</div>



<div> 

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    BLOCK
  </button>
  
  <!-- Modal -->
  
  <div class=" row mx-0 px-0">
    <div class="pop col-lg-12 col-sm-12 col-md-12 mx-0">
  <div class="modal fade" id="exampleModalLong" tabindex="10" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog btx" role="document">
      <div class="modal-content">
        <div class="col-lg-12 col-sm-12 col-12">
        <div class="col-lg-12 col-sm-12 col-12 block mx-3 px-5 d-flex my-2">
          <!-- <img src="assets/images/block.png" style="height: 25px;" class="mx-1">  -->
          <h3 class="col-15 mx-4 block modal-title" id="exampleModalLongTitle" style="color:  #276678; align-content: center;" >Tell Us More</h3>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        </div>
        <div >
  
        <p class="mx-3"  style="color:rgba(107, 122, 126, 1);"> Please give us more information. Dont worry we dont tell them.</p>
        <div class="butn col-lg-12 col-sm-12 my-2">
          <textarea cols="35" rows="4" style="border-radius: 13px" placeholder="Tell us what happened...."></textarea>
          <button type="button" class="text-white btn-outline-primary mx-5 col-8 my-3"style="border-radius: 13px;background-color:#276678">Block Name</button> 
  
        </div>
          
        </div>
       
      </div>
    </div>
  </div>
  </div>
  </div>

</div>

<!-- block section -->
<div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#block">
  BLOCK MAIN
  </button>
  
  <!-- Modal -->
  
  <div class=" row mx-0 px-0">
    <div class="pop col-lg-12 col-sm-12 col-md-12 mx-0">
  <div class="modal fade" id="block" tabindex="10" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog btx" role="document">
      <div class="modal-content">
        <div class="col-lg-12 col-sm-12 col-12">
        <div class="col-lg-12 col-sm-12 col-12 block mx-3 px-5 d-flex my-2">
          <img src="assets/images/block.png" style="height: 25px;" class="mx-1 "> 
          <h3 class=" block modal-title " id="exampleModalLongTitle" style="color:  #276678; align-content: center;" >Block NAME</h3>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        </div>
        <div >
  
        <p class="mx-3"  style="color:rgba(107, 122, 126, 1);"> Please tell us why you are blocking 
          Later.Dont worry we dont tell them</p>
        <div class="butn col-lg-12 col-sm-12 my-2">
          <button type="button" class=" primary btn btn-outline-primary my-2 col-12" >Inappropriate Messages</button><br>
          <button type="button" class=" primary btn btn-outline-primary col-12">Scam or Spam</button><br>
          <button type="button" class=" primary btn btn-outline-primary my-2 col-12">Inappropriate Profile</button><br>
          <button type="button" class=" primary btn btn-outline-primary col-12 my-1">I just dont want them to see me</button>
          <!-- <button type="button" class=" primary btn btn-outline-primary col-12">Wrong Contact Details</button><br> -->
          <!-- <button type="button" class=" primary btn btn-outline-primary my-2 col-12">Scam or Spam</button><br>  -->
  
        </div>
          
        </div>
       
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>

  <!-- report 2nd  -->
  <div> 

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#report2">
      Report 2nd
    </button>
    
    <!-- Modal -->
    
    <div class=" row mx-0 px-0">
      <div class="pop col-lg-12 col-sm-12 col-md-12 mx-0">
    <div class="modal fade" id="report2" tabindex="10" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog btx" role="document">
        <div class="modal-content">
          <div class="col-lg-12 col-sm-12 col-12">
          <div class="col-lg-12 col-sm-12 col-12 block mx-3 px-5 d-flex my-2">
            <!-- <img src="assets/images/block.png" style="height: 25px;" class="mx-1">  -->
            <h3 class="col-15 mx-4 block modal-title" id="exampleModalLongTitle" style="color:  #276678; align-content: center;" >Tell Us Reason</h3>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          </div>
          <div >
    
          <p class="mx-3"  style="color:rgba(107, 122, 126, 1);"> Please give us more information. Dont worry we dont tell them.</p> <br> 
          <div class="butn col-lg-12 col-sm-12 my-2">
            <textarea cols="35" rows="4" style="border-radius: 13px" placeholder="Tell us what happened...."></textarea> <br> <br>
           <div class="mx-5 px-2 py-3 d-flex" style="color:#00556A ;"  >Also Block Name <label class="switch mx-2  d-flex"> <br> <br>
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </div>
            <button type="button" class="text-white btn-outline-primary mx-5 col-8 my-1"style="border-radius: 13px;background-color:#276678">Report Name</button> 
    
          </div>
            
          </div>
         
        </div>
      </div>
    </div>
    </div>
    </div>
  
  </div>