<div  class="last">
  <div class="container abtcont">
    <div class="row">
       
    
    
        
    
          <div class="box" >
        
           <h2 class=" text-white center" style="
           margin-top: 48px; background-color: green; ">Welcome to NikahinKerala Check your login details. <br>
            Profile ID : 355444 <br>
            Password : 2121wqwq<br>
            Helpline: 9947572960</h2>
           
          </div>
         <div class="box"> 
        
         
          <a href="edit" style="margin-left: -150px;"> 
          <button class=" button bt" style="width:400%">got it </button> 
        </a>
         </div>
       

    </div>

</div>
</div>