<div class="container-fluid" style="padding-right: 0px;
padding-left:0px;">
  <div class="row">
    <div class="col-lg-12 col-md-12"style="padding-right: 0px;
    padding-left: 0px;">
<app-header></app-header>
<section class="about">

  <!-- here -->
  <div  *ngIf="hello">    
  
  <!-- <div class="col lg-12 col-md-12"> -->
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0"
      aria-valuemax="100%">20%</div>
  </div>
 
  <br>
  <br>
  <!-- shadow box -->
  
  <div class="container-fluid abtcont">
<!-- inner hidden box  -->
    <div  class="box">



      <!-- <!-personal-  -->

      <!-- <div  class="box"> -->
        <img class="img-fluid hrtcls1" src="../../assets/images/hrt6.png " style="
  margin-top: 297px;
  margin-left: -871px;
">
        <img class="img-fluid hrtcls" src="../../assets/images/Vector.png" style="
  margin-top: 287px;
  margin-left: -985px;
">
        <img class="img-fluid vector" src="../../assets/images/hrt5.png" style="
  position: absolute;
  left: 6.8%;
  right: 75.96%;
  top: 59.5%;
  bottom: 49.58%;
">

        <h1>Personal Informations</h1>
        <div class="col">
          <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker inp" inline="true">
            <p>Date of Birth</p>
            
            <input placeholder="Select date" type="date" id="example" class="date">

          </div>
          <div class="inp">
            <p>Marital Status</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b>Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Select">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="inp">
            <p>Profile ID</p>
            <input type=text>
          </div>
        </div>
        <div class="col">
          <div class="inp" style="
    margin-top: 26px;
">
            <p>Religion</p>

            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="Select" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <b> Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Se">
                <a class="dropdown-item" href="#">Something3</a>
                <a class="dropdown-item" href="#">something2</a>
                <a class="dropdown-item" href="#">something</a>
              </div>
            </div>
          </div>
          <div class="inp" style="
          margin-top: 26px;
      ">
            <p>Nationality</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b> Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Indian</a>
                <a class="dropdown-item" href="#">Other</a>
              </div>
            </div>
          </div>
        </div>
             <div class="box" style="margin-top: 150px;"> 
        <button class="bt" (click)="fnnext()" style="margin-bottom: -45px;"> Next </button>
                   </div>
         </div>
         </div> 
         </div>

        <!-- </div> -->
        <!-- 1st  -->
        

      <div *ngIf="hello2"> 
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0"
            aria-valuemax="100%">40%</div>
        </div>
       
        <br>
        <br>
        <!-- shadow box -->
        
        <div class="container-fluid abtcont">
          <div class="box">
        
        
        <p> Physical Information</p>
        <div class="col">
          <div class="inp">
            <p>Height</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b>Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Select">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>

          <div class="inp">
            <p>Weight</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b>Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Select">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="inp">
            <p>Physical Status</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b>Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Select">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="inp" style="
          margin-top: 26px;
      ">
            <p>Complexion</p>

            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="Select" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <b> Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Se">
                <a class="dropdown-item" href="#">Something3</a>
                <a class="dropdown-item" href="#">something2</a>
                <a class="dropdown-item" href="#">something</a>
              </div>
            </div>
          </div>
          <div class="inp" style="
          margin-top: 26px;
      ">
            <p>Body type</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b> Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Indian</a>
                <a class="dropdown-item" href="#">Other</a>
              </div>
            </div>
          </div>
        </div>
        <div class="box">

        <button class="bt" (click)="fnnext1()" style="
                margin-top: 150px;
            "> Next </button>
            </div>
            </div> </div> </div>
            
          <!--        here -->
            
     
      
      <div *ngIf="hello3">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
            aria-valuemax="100%">50%</div>
        </div>
       
        <br>
        <br>
        <!-- shadow box -->
        
        <div class="container-fluid abtcont">
          <div class="box">
        <p>Education & Profession</p>
        <div class="col">
          <div class="inp">
            <p>Heighest Education</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b>Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Select">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>

          <div class="inp">
            <p>Education Details</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b>Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Select">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="inp">
            <p>Education Description</p>
            <input type=text>
          </div>
        </div>
        <div class="col">
          <div class="inp" style="
          margin-top: -25px;
      ">
            <p> Job Proffession</p>

            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="Select" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <b> Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Se">
                <a class="dropdown-item" href="#">Something3</a>
                <a class="dropdown-item" href="#">something2</a>
                <a class="dropdown-item" href="#">something</a>
              </div>
            </div>
          </div>

        </div>
        <button class="bt" (click)="fnnext2()" style="margin-bottom: 66px;"> Next </button>
        </div>
        </div>



      </div>
      <div *ngIf="hello4">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0"
            aria-valuemax="100%">60%</div>
        </div>
       
        <br>
        <br>
        <!-- shadow box -->
        
        <div class="container-fluid abtcont">
          <div class="box">
        <p>Family Details</p>
        <div class="col">
          <div class="inp">
            <p>Family Type</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b>Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Select">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>

          <div class="inp">
            <p>Finance Status</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b>Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Select">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="inp">
            <p> Father</p>
            <div class="rd">
              <div class="rd">

                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" style="
                          width: 22px;
                          margin-left: 5px;
                          margin-right: 7px;
                      ">

                <p for="inlineRadio1" style="
                        margin-top: -34px;
                        margin-right: 17px;
                    ">Alive</p>
              </div>
              <div class="rd">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" style="
                        width: 22px;
                        margin-left: 17px;
                    ">
                <p for="inlineRadio2" style="
                           margin-left: 10px;
                           margin-top: -33px;
                       "> Late</p>
              </div>
            </div>
          </div>
          <div class="inp">
            <p> Mother</p>
            <div class="rd">
              <div class="rd">

                <input type="radio" name="inlineRadioOption" id="inlineRadio3" value="option1" style="
                            width: 22px;
                            margin-left: 5px;
                            margin-right: 7px;
                        ">

                <p for="inlineRadio3" style="
                          margin-top: -34px;
                          margin-right: 17px;
                      ">Alive</p>
              </div>
              <div class="rd">
                <input type="radio" name="inlineRadioOption" id="inlineRadio4" value="option2" style="
                          width: 22px;
                          margin-left: 17px;
                      ">
                <p for="inlineRadio4" style="
                             margin-left: 10px;
                             margin-top: -33px;
                         "> Late</p>
              </div>
            </div>
          </div>
          
          





        </div>

        <button class="bt" (click)="fnnext3()" style="
        margin-bottom: 66px;
    "> Next </button>
        </div>
        </div>

      </div>
      <div *ngIf="hello5">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
            aria-valuemax="100%">70%</div>
        </div>
       
        <br>
        <br>
        <!-- shadow box -->
        
        <div class="container-fluid abtcont">
          <div class="box">
        <p>Religious Informations</p>
        <div class="col">
          <div class="inp">
            <p>Religion</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b>Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Select">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>

          <div class="inp">
            <p>Class</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b>Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Select">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="inp">
            <p>Religiousness</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b>Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Select">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="inp" style="
          margin-top: -50px;
      ">
            <p>Madrassa Education</p>

            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="Select" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <b> Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Se">
                <a class="dropdown-item" href="#">Something3</a>
                <a class="dropdown-item" href="#">something2</a>
                <a class="dropdown-item" href="#">something</a>
              </div>
            </div>
          </div>
          <div class="inp">


          </div>
        </div>
        

        <button class="bt" (click)="fnnext4()" style="
        margin-bottom: 66px;
    "> Next </button>
        </div>
        </div>
      </div>
      <div *ngIf="hello6">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
            aria-valuemax="100%">80%</div>
        </div>
       
        <br>
        <br>
        <!-- shadow box -->
        
        <div class="container-fluid abtcont">
          <div class="box">
        <p>Contact Details</p>
        <div class="col">
          <div class="inp">
            <div class="inp">
              <p>Primary Number</p>
              <input type="number" pattern="[789][0-9]{9}" onKeyPress="if(this.value.length==10) return false;">


            </div>
          </div>

          <div class="inp">
            <p>Secondary Number</p>
            <input type="number" pattern="[789][0-9]{9}" onKeyPress="if(this.value.length==10) return false;">
          </div>
          <div class="inp">
            <p>Preferred Mobile Number</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b>Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Select">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="inp">


            <div class="inp" style="margin-top: -65px;">
              <p>Contact person & Relationship</p>
              <input type=text>
            </div>
          </div>
          <div class="inp">

            <div class="inp"style="margin-top: -65px;">
              <p>Email ID</p>
              <input type=text>
            </div>
          </div>
        </div>

        <button class="bt" style="margin-bottom: 66px;" (click)="fnnext5()" style="margin-bottom: 54px;"> Next</button>   
        <!-- <a  routerLink="/location" style="color:white ;"> <button class="">Next</button>>  </a>  -->
        </div>
        </div>
        
                    
      </div>
    
<!--abt container closed -->
<!-- <div class="container-fluid abtcont1"> -->
  <div class="box">
      <div *ngIf="hello7">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0"
            aria-valuemax="100%">90%</div>
        </div>
       
        <br>
        <br>
        <!-- shadow box -->
        
        <div class="container-fluid abtcont1">
          <div class="box">
        <p>Location Details</p>

        <div class="col">
          <div class="inp">
            <div style="
                  margin-right: -500px;
                  margin-top: -31px;
              ">Home Address</div>

            <div class="text">
              <input class="form-control" type="text" placeholder="Country">



            </div>
          </div>

          <div class="inp">
            <div class="text">
              <input class="form-control" type="text" placeholder="State">



            </div>
          </div>
          <div class="inp">
            <div class="text">
              <input class="form-control" type="text" placeholder="District">



            </div>
          </div>
        </div>
        <div class="col">
          <div class="inp">
            <div class="text">
              <input class="form-control" type="text" placeholder="City">



            </div>

          </div>
          <div class="inp">
            <div class="text">
              <input class="form-control" type="text" placeholder="Place">



            </div>
          </div>
          <div class="form-group shadow-textarea ">

            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
              placeholder="Write something here..."></textarea>
          </div>
        </div>

        <div style="margin-left: -197px;">
          <h3 style="
                  margin-bottom: auto;
              ">Current Address</h3>
        </div>
        <div class="form-check " style="
                margin-right: -46px;
                margin-top: -29px;
            ">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
          <label class="form-check-label" for="flexCheckIndeterminate">
            Same as
          </label>
        </div>


        <div class="col">
          <div class="inp">

            <div class="text">
              <input class="form-control" type="text" placeholder="Country">



            </div>
          </div>

          <div class="inp">
            <div class="text">
              <input class="form-control" type="text" placeholder="State">



            </div>
          </div>
          <div class="inp">
            <div class="text">
              <input class="form-control" type="text" placeholder="District">



            </div>
          </div>
        </div>
        <div class="col">
          <div class="inp">
            <div class="text">
              <input class="form-control" type="text" placeholder="City">



            </div>

          </div>
          <div class="inp">
            <div class="text">
              <input class="form-control" type="text" placeholder="Place">



            </div>
          </div>
          <div class="form-group shadow-textarea ">

            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
              placeholder="Write something here..."></textarea>
          </div>
        </div>




        <button class="bt"> Next </button>
        </div>
        </div>

      </div>
</div>

<!-- </div> -->



    



  








</section>
</div></div>

<section class="" style="background-color: #276678;">
  <div class="container-fluid" style="padding-right: 0px;
  padding-left: 0px;">
    <div class="row">
      <div class="col-md-4 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
        <div class="icon-box d-flex ">
          <div class="icon ic1">
            <i class="fa fa-phone icn1" aria-hidden="true" style="font-size:20px;"></i>
          </div>

          <p class="description text-white">Helpline 24/7 <br><span class="card-text text-white">+9100000000</span></p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
        <div class="icon-box d-flex ">
          <div class="icon ic1">
            <i class="fa fa-envelope-o icn1" aria-hidden="true" style="font-size:20px;"></i>
          </div>
          <p class="description text-white"> Send your queries <br><span
              class="card-text text-white">matrimony@gmail.com</span></p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
        <div class="icon-box d-flex ">
          <div class="icon ic1">
            <i class="fa fa-globe icn1" aria-hidden="true" style="font-size:20px;"></i>
          </div>
          <p class="description text-blue text-white">Head Office <br><span class="card-text text-white">kerala
              <br>calicut 96006</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
</div>






