.back{
    background-image: url(../../assets/images/bnr1.jpg);
    width: 1349px;
    height: 1028px;
    background-repeat: no-repeat;
     background-size: cover;
  

}
.box{
    width: 515px;
    height: 511px;
    left: 382px;
    top: 249px;
    background: rgba(172, 181, 184, 0.01);
    box-shadow: inset 8.28667px -8.28667px 8.28667px rgb(137 145 147 / 22%), inset 16.5733px -16.5733px 16.5733px rgb(255 255 255 / 22%), inset -8.28667px 8.28667px 8.28667px rgb(255 255 255 / 22%), inset -16.5733px 16.5733px 16.5733px rgb(137 145 147 / 22%);
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(19px);
    border-radius: 15px;
}

h2{
    position: absolute;
    width: 369.63px;
    height: 62.9px;
    left: 60px;
    top: 227.99px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bolder;
    font-size: 22.637px;
    line-height: 28px;
    text-align: center;
    color: #1687A7;;
}

.green{
    background-image: url(../../assets/images/green.png);
  
    position: absolute;
    left: 38.96%;
    right: 44.07%;
    top: 52.82%;
    bottom: 29.79%;
    background-repeat: no-repeat;

}



      