<app-header></app-header>
<section class="about">
  <div class="progress">
    <div  class="progress-bar" role="progressbar" style="width: 90%;"  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
  </div>
  <br>
  <br>
    <div class="container abtcont">
      
        
            
      
        
                   
                   
        
        <div class="box">
            
               
               
          <p>Location Details</p>
                 
             <div class="col">
                <div class="inp">
                  <div style="
                  margin-right: -683px;
                  margin-top: -31px;
              ">Home Address</div>
                                    
                  <div class="text">
                    <input class="form-control" type="text" placeholder="Country"> 
                      
                                       
                   
                  </div>
                          </div>
              
              <div class="inp">
                <div class="text">
                    <input class="form-control" type="text" placeholder="State"> 
                      
                                       
                   
                  </div>
                      </div>
                      <div class="inp">
                        <div class="text">
                            <input class="form-control" type="text" placeholder="District"> 
                              
                                               
                           
                          </div>
                              </div>   
             </div>
             <div class="col">       
              <div class="inp">
                <div class="text">
                    <input class="form-control" type="text" placeholder="City"> 
                      
                                       
                   
                  </div>                
            
                </div>
                <div class="inp">
                    <div class="text">
                        <input class="form-control" type="text" placeholder="Place"> 
                          
                                           
                       
                      </div>
                </div>
                <div class="form-group shadow-textarea ">
                    
                    <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here..." ></textarea>
                  </div>
                </div>
                
                <div style="margin-left: -197px;"><h3 style="
                  margin-bottom: auto;
              ">Current Address</h3></div>
                <div class="form-check " style="
                margin-right: -46px;
                margin-top: -29px;
            ">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                  <label class="form-check-label" for="flexCheckIndeterminate">
                    Same as
                  </label>
                </div> 
                
                
                <div class="col">
                  <div class="inp">
                                      
                    <div class="text">
                      <input class="form-control" type="text" placeholder="Country"> 
                        
                                         
                     
                    </div>
                            </div>
                            
                <div class="inp">
                  <div class="text">
                      <input class="form-control" type="text" placeholder="State"> 
                        
                                         
                     
                    </div>
                        </div>
                        <div class="inp">
                          <div class="text">
                              <input class="form-control" type="text" placeholder="District"> 
                                
                                                 
                             
                            </div>
                                </div>   
               </div>
               <div class="col">       
                <div class="inp">
                  <div class="text">
                      <input class="form-control" type="text" placeholder="City"> 
                        
                                         
                     
                    </div>                
              
                  </div>
                  <div class="inp">
                      <div class="text">
                          <input class="form-control" type="text" placeholder="Place"> 
                            
                                             
                         
                        </div>
                  </div>
                  <div class="form-group shadow-textarea ">
                      
                      <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here..." ></textarea>
                    </div>
                  </div>
                
                
                
                                
                <button class="bt"> Next </button>
                
              
         

          
              
        </div>
                             
        </div>
        
              
           

        
        
    

</section>
<section class="" style="background-color: #276678;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box d-flex ">
            <div class="icon ic1">
              <i class="fa fa-phone icn1" aria-hidden="true" style="font-size:20px;"></i>
            </div>
            
            <p class="description text-white">Helpline 24/7 <br><span class="card-text text-white">+9100000000</span></p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box d-flex ">
            <div class="icon ic1">
              <i class="fa fa-envelope-o icn1" aria-hidden="true" style="font-size:20px;"></i>
            </div>
            <p class="description text-white"> Send your queries <br><span class="card-text text-white">matrimony@gmail.com</span></p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box d-flex ">
            <div class="icon ic1">
              <i class="fa fa-globe icn1" aria-hidden="true" style="font-size:20px;"></i>
            </div>
            <p class="description text-blue text-white">Head Office <br><span class="card-text text-white">kerala
              <br>calicut 96006</span></p>
          </div>
        </div>
      </div>
    </div>
</section>
<app-footer></app-footer>
