<div>

  <!-- <div class="col lg-12 col-md-12"> -->
  <div class="row">
    <div class=" col-lg-12 col-sm-block">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0"
          aria-valuemax="100%">20%</div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <!-- shadow box -->

  <div class="container-fluid abtcont ">
    <!-- inner hidden box  -->
    <div class="box">
      <!-- <!-personal-  -->

      <!-- <div  class="box"> -->
      <div class="img">
        <img class="img-fluid hrtcls1" src="../../assets/images/hrt6.png " style="
  margin-top: 288px;
  margin-left: -50px;
">
        <img class="img-fluid hrtcls" src="../../assets/images/Vector.png" style="
 
  margin-top: 275px;
  margin-left: -1px;

">
        <img class="img-fluid vector" src="../../assets/images/hrt5.png" style="
  position: absolute;
  left: 6.85%;
  right: 75.96%;
  top: 39.85%;
  bottom: 49.58%;

">
      </div>


      <div class="row">
        <div class="col-lg-4 col-md-12 co-sm-12 col-12">
          <input type="text">
        </div>
        <div class="col-lg-4 col-md-12 co-sm-12 col-12"><input type="text"></div>
        <div class="col-lg-4 col-md-12 co-sm-12 col-12"><input type="text"></div>
      </div>




















      <div class="row">

        <div class="col-lg-12 col-sm-12">
          <h1 style="color: red;">Personal Informations</h1>
        </div>


        <div class=" col-sm-12 col-12">
          <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker inp" inline="true">
            <p style="color: blue;">Date of Birth</p>
            <input placeholder="Select date" type="date" id="example" class="date">
          </div>


        </div>

        <div class="col-sm-12 col-12">
          <div class="inp">
            <p style="color: blue;">Marital Status</p>
            <div class="dropdown in">
              <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <b>Select</b>
              </button>
              <div class="dropdown-menu" aria-labelledby="Select">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-sm-12 col-12">
        <div class="inp">
          <p style="color: blue;">Profile ID</p>
          <input type=text>
        </div>
      </div>
      </div>




      <div class="col">

        <div class="col">
          <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker inp" inline="true">
            <p style="color: blue;">Date of Birth</p>
            <input placeholder="Select date" type="date" id="example" class="date">
          </div>

        </div>


       





        <div class="inp">
          <p style="color: blue;">Profile ID</p>
          <input type=text>
        </div>
      </div>


      <div class="col">
        <div class="inp" style="margin-top: 26px;">
          <p style="color: blue;">Religion</p>

          <div class="dropdown in">
            <button class=" dropdown-toggle sl" type="button" id="Select" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <b> Select</b>
            </button>
            <div class="dropdown-menu" aria-labelledby="Se">
              <a class="dropdown-item" href="#">Something3</a>
              <a class="dropdown-item" href="#">something2</a>
              <a class="dropdown-item" href="#">something</a>
            </div>
          </div>
        </div>
        <div class="inp" style="
          margin-top: 26px;
      ">
          <p style="color: blue;">Nationality</p>
          <div class="dropdown in">
            <button class=" dropdown-toggle sl" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <b> Select</b>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Indian</a>
              <a class="dropdown-item" href="#">Other</a>
            </div>
          </div>
        </div>
      </div>


      <div class="box" style="margin-top: 150px;">
        <button class="bt" style="margin-bottom: -45px;"> Next </button>
      </div>



    </div>
  </div>
</div>