

<!-- <app-header></app-header> -->

<style>
  .formsstyle {
    background: rgba(172, 181, 184, 0.01);
box-shadow: inset 7.66417px -7.66417px 7.66417px rgba(137, 145, 147, 0.22), inset 15.3283px -15.3283px 15.3283px rgba(255, 255, 255, 0.22), inset -7.66417px 7.66417px 7.66417px rgba(255, 255, 255, 0.22), inset -15.3283px 15.3283px 15.3283px rgba(137, 145, 147, 0.22);
backdrop-filter: blur(51.3499px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 27.5033px;
  }
</style>
<div class="container-fluid Banner" style="background: url(../../assets/images/bnr3.png);">

    <div class="row">
      <div class="col-lg-7 mx-4">

        <h1>jhgjhgjgj</h1>
      </div>
      <div class=""></div>


      <div class="col-lg-7 col-sm-12 col-12">
         
        
        <form action="" class="row formsstyle my-4 mx-4 p-2">

          <div class="col-lg-4 d-lg-flex d-sm-block d-block">
            <label for="">email</label>

          <select class="form-control">
            <option value="">1</option>
            <option value="">1</option>
            <option value="">1</option>
            <option value="">1</option>
          </select>

          </div>
  
          
          <div class="col-lg-4">
            <label for="">email</label>

          <select class="form-control">
            <option value="">1</option>
            <option value="">1</option>
            <option value="">1</option>
            <option value="">1</option>
          </select>

          </div>
          
          <div class="col-lg-4">
            <label for="">email</label>

          <select class="form-control">
            <option value="">1</option>
            <option value="">1</option>
            <option value="">1</option>
            <option value="">1</option>
          </select>

          </div>

        </form>
      </div>
      
    </div>

</div>