<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-sm-12 px-lg-0" style="background-color:beige; height:300px">
      <div class="d-lg-flex">
      <div class="col-lg-4 px-lg-5"style="background-color:red; height:100px">rrrrr</div>
      <div class="col-lg-4"style="background-color:yellow; height:100px">rrrr</div>
      <div class="col-lg-4"style="background-color:blue; height:100px">rrrr</div>
      </div>
    </div>
    <div class="col-lg-9 col-sm-12" style="background-color:brown;height:300px">
      <div class="col-lg-4" style="background-color: red;">
        <div class="col-lg-4 py-lg-4 py-2 mx-lg-5 my-lg-4" style="background-color: red;">
        <div class="col-lg-3 mx-2 py-lg-2 mx-lg-4 mx-0">
          <img class="boximg" src="assets/images/ali-muhamad-vAyDuvcjXcs-unsplash.jpg">
        </div>
    </div>
  </div>
    </div>
  </div>
</div>

