

<app-header></app-header>
<div class="container-fluid about">

  <h1  class="head"> Add your best shots</h1>
  <h1  class="head1"> Upload your photos to complete the profile</h1>

<div class="rtngl1" >

  <div class="pic1 p"></div>
  <div class="bar1">
    <button class="b1" >add file</button>
  </div>
 
</div >

<div class="rtngl2" >

  <div class="pic1"></div>
  <div class="bar1">
    <button class="b1" >add file</button>
  </div>
</div >

<div class="rtngl3">


  <div class="pic1"></div>
  <div class="bar1">
    <button class="b1" >add file</button>
  </div>
</div>

<div class="rtngl4">

  <div class="pic1"></div>
  <div class="bar1">
    <button class="b1" >add file</button>
  </div>v>
 
</div>

<button class="btn2">skip</button>

<h1  class="head2">Photo privacy</h1>

<div class="rad">
  <div class="form-check form-check-inline">
    <input class="form-check-input rad1" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
    <label class="form-check-label" for="inlineRadio1">Visible to All </label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input rad1" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
    <label class="form-check-label" for="inlineRadio2">Only for allowed users</label>
  </div>
  </div>

  <button class="btn1">Submit and save</button>
<div class="label1">
  <label  class="lbl" >Photo Privacy Settings Successfully Updated..
  </label>
</div>
 

</div>









