





.about{
    background-image: url("/assets/images/abt.png");
    padding: 350px;
    margin: -28px 0 0 0;
    
}

.icon {
    margin: 0 auto 20px auto;
    padding-top: 11px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 72px;
    height: 72px;
}
.icon-box{
    padding: 20px;
}
.icn1{
    color: #276678;
    font-size: 21px;
}
.ic1{
    padding-top: 7px;
    height: 38px;
    width: 38px;
    /* font-size: 20px; */
    background: #D3E0EA;
border: 2.61169px solid #A2C2DB;
box-shadow: 0px 3.48225px 3.48225px rgba(0, 0, 0, 0.25);
}





.rtngl1{
box-sizing: border-box;

position: absolute;
width: 160px;
height: 200px;
left: 250px;
top: 200px;

background: #305862;
border: 0.742029px solid #FFFFFF;
}

.bar1{
    
box-sizing: border-box;

position: absolute;
width: 140px;
height: 29.18px;
left: 9px;
top: 164px;
border: 0.416888px solid #FFFFFF;
}

.pic1{
    position: absolute;
width: 140px;
height: 215.19px;
left: 8px;
top: 6px;

background-image: url(../../assets/images/man1.png);
border-radius: 5px;

    background-size: contain;
    background-repeat: no-repeat;
    border:none

}

.p{
 background-image: url(../../assets/images/pic1.jpg);   
}
.b1{
    box-sizing: border-box;

    position: absolute;
    width: 80.46px;
   top: 1px
   ;
    
    background: rgba(255, 255, 255, 0.1);
    border: 0.416888px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none
}

.rtngl2{
    box-sizing: border-box;
    
    position: absolute;
    width: 160px;
    height: 200px;
    left: 450px;
    top: 200px;
    
    background: #305862;
    border: 0.742029px solid #FFFFFF;
    }

    .rtngl3{
        box-sizing: border-box;
        
        position: absolute;
        width: 160px;
        height: 200px;
        left: 650px;
        top: 200px;
        
        background: #305862;
        border: 0.742029px solid #FFFFFF;
        }

        .rtngl4{
            box-sizing: border-box;
            
            position: absolute;
            width: 160px;
            height: 200px;
            left: 850px;
            top: 200px;
            
            background: #305862;
            border: 0.742029px solid #FFFFFF;
            }

.head{
position: absolute;
width: 243px;
height: 36px;
left: 550px;
top: 100px;
font-size: 18px;
line-height: 36px;
color: #FFFFFF;

}

.head1{
position: absolute;
width: 305px;
height: 21px;
left: 500px;
top: 130px;
color: #FFFFFF;
font-size: 13px;
}

.head2{
    position: absolute;
    font-family: 'Poppins';
    width: 310px;
    height: 25px;
    left: 590px;
    top: 470px;
    color: #FFFFFF;
    font-size: 16px;
    }
 
    .rad{
            position: absolute;
            font-family: 'Poppins';
            width: 305px;
            height: 21px;
            left: 520px;
            top: 500px;
            color: #FFFFFF;
            font-size: 13px;
           
            }

          .rad1{
           accent-color:#305862 ;
          }  

          .rad2{
            accent-color:#305862 ;
           }
         .btn1{
            font-family: 'Poppins';
          position: absolute;
           width: 200px;
           height: 35px;
          left: 551px;
          top: 550px;

background: #068004;
box-shadow: inset inset 107px 91.2px 185px rg rgba(10, 10, 10, 0.25);
border-radius: 10px;
border: none;
            }         
         
 .label1{
     position: absolute;
width: 350px;
height: 35px;
left: 462px;
top: 624px;

background: #FFFFFF;
border-radius: 15px;
            }
.lbl{
    
position: absolute;

font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 13px;
line-height: 27px;
left: 30px;
color: #067F04;
}     

.btn2{
    position: absolute;
width: 50px;
height: 22px;
left: 910px;
top: 420px;

background: #F6F5F5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: none;
}