
<section class="" style="background-color: #D3E0EA; ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
        <div class="icon-box d-flex ">
          <div class="icon ic1">
            <i class="fa fa-phone icn1" aria-hidden="true" style="font-size:20px;"></i>
          </div>
          
          <p class="description text-blue">Helpline 24/7 <br><span class="card-text">+9100000000</span></p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
        <div class="icon-box d-flex ">
          <div class="icon ic1">
            <i class="fa fa-envelope-o icn1" aria-hidden="true" style="font-size:20px;"></i>
          </div>
          <p class="description text-blue"> Send your queries <br><span class="card-text">matrimony@gmail.com</span></p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
        <div class="icon-box d-flex ">
          <div class="icon ic1">
            <i class="fa fa-globe icn1" aria-hidden="true" style="font-size:20px;"></i>
          </div>
          <p class="description text-blue">Head Office <br><span class="card-text">kerala
            <br>calicut 96006</span></p>
        </div>
      </div>
    </div>
  </div>

</section>
