.ic1{
    padding-top: 7px;
    height: 38px;
    width: 38px;
    /* font-size: 20px; */
    background: #D3E0EA;
border: 2.61169px solid #A2C2DB;
box-shadow: 0px 3.48225px 3.48225px rgba(0, 0, 0, 0.25);
}

.icn1{
    color: #276678;
    font-size: 21px;
}

.text-blue{
    color: #276678;
}

.icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0 0 40px 0;
    /* background: #fff;
    box-shadow: 0 5px 26px 0 rgb(68 88 144 / 14%); */
    transition: all 0.3s ease-in-out;
    text-align: center;
    /* border: 1px solid #fff; */
}

.icon i {
    font-size: 36px;
    line-height: 1;
}
.card{
    background: #D3E0EA;
border-radius: 35.7674px;

}

.icon {
    margin: 0 auto 20px auto;
    padding-top: 9px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 37px;
    height: 37px;
}
