<app-header></app-header>
<section class="about">
    <div class="container abtcont">
        <div class="row">
            <div class="col-md-12">
               
            </div>
        </div>
        
            
        
              <div class="box" >
            
               <p class=" text-white center">Welcome to NikahinKerala Check your login details. <br>
                Profile ID : 355444 <br>
                Password : 2121wqwq<br>
                Helpline: 9947572960</p>
                
              </div>
           

        </div>
    

</section>
<section class="" style="background-color: #276678;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box d-flex ">
            <div class="icon ic1">
              <i class="fa fa-phone icn1" aria-hidden="true" style="font-size:20px;"></i>
            </div>
            
            <p class="description text-white">Helpline 24/7 <br><span class="card-text text-white">+9100000000</span></p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box d-flex ">
            <div class="icon ic1">
              <i class="fa fa-envelope-o icn1" aria-hidden="true" style="font-size:20px;"></i>
            </div>
            <p class="description text-white"> Send your queries <br><span class="card-text text-white">matrimony@gmail.com</span></p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
          <div class="icon-box d-flex ">
            <div class="icon ic1">
              <i class="fa fa-globe icn1" aria-hidden="true" style="font-size:20px;"></i>
            </div>
            <p class="description text-blue text-white">Head Office <br><span class="card-text text-white">kerala
              <br>calicut 96006</span></p>
          </div>
        </div>
      </div>
    </div>
</section>
<app-footer></app-footer>
