
<app-header></app-header>

<div class="container-fluid back">
<div class="modal-content box">
     <div class="hert1"></div>
    <h1>verification</h1>
    <div class="ic1"></div>
    <div class="hert2"></div>
    <h2>You Will get OTP via SMS</h2>

    <div id="otp" class="inputs border-radiusborder-radius justify-content-center mt-2"> 
        <input class="m-2 text-center form-control rounded otp1" type="number" id="first" onkeypress="if(this.value.length==1) return false;" />
         <input class="m-2 text-center form-control rounded otp2" type="number" id="second"onkeypress="if(this.value.length==1) return false;" /> 
         <input class="m-2 text-center form-control rounded otp3" type="number" id="third" onkeypress="if(this.value.length==1) return false;" />
          <input class="m-2 text-center form-control rounded otp4" type="number" id="fourth" onkeypress="if(this.value.length==1) return false;" />
         
          
        </div>



   
    <button (click)="fnveri()">Verify</button>
    <div class="hert3"></div>
</div>


</div>
