<div class=container-fluid>
  <div class="row">
    
    <!-- <img src="assets/images/abt.png" class="bgimg">  -->
    <div class="col-lg-3" style="padding-right: 0;">
      
      <app-leftsidenav></app-leftsidenav>
    <!-- <div class="split left"> 
      <div><img src="assets/images/pinkshall_women.jpg" class="imgback"/><img src="assets/images/pinkshall_women.jpg" class="imgfrnt"/></div>
      <div class="">
        
        <button class="sidebtns sidebtn1"><label style="color:#276678;">Complete/Edit Profile</label></button>
        <button class="sidebtns sidebtn2"><label style="color:#276678;">Notification</label></button>
        <button class="sidebtns sidebtn3"><label style="color:#276678;">Edit Password</label></button>
        <button class="sidebtns sidebtn4"><label style="color:#276678;">Hide Profile</label></button>
        <button class="sidebtns sidebtn5"><label style="color:#276678;">Delete Profile</label></button>
        <button class="sidebtns sidebtn6"><label style="color:#276678;">logout</label></button>
        
      </div>
    </div> -->
    </div>

    <div class="col-lg-9 col-md-12" style="padding-left: 0;padding-right: 0;" >
    <!-- <div class="split right"> -->
      <div style="background-size:cover;">
      <div><app-header></app-header></div>
      
      <!-- <div class="inner_shadow"> -->
        <div style=" height:1359px; width:1012px;background-image:url(assets/images/abt.png);float:left;">
        <button class="deletebtn">Delete profile</button>
        <blockquote class="cntnt1 blockquote text-white ">
          <p class="mb-0 lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </blockquote>
        <!-- <div class="textbelowbtn text-white"><h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h5></div> -->
          <button class="mrdbtn"><span class="lab">Already Married</span></button><button class="fixedbtn"><span class="lab">Marriage Fixed</span></button>
          <div class="contn">
            <h3 class="text-white">CONGRATULATIONS!</h3>
            <h4 class="text-white">We are happy that you are find your life partner.</h4>
          </div>

            <div class="inner_shadow w3-opacity-max">
              <div class="inner_shadow2">
              <div class="inner_shadow3">
                <form><h6 class="text-white">Select the source:</h6>
                  <input type="radio" name="radiobtn" style="height:35px; width:15px; vertical-align: middle;"><label class="text-white">Through our matrimony &nbsp;&nbsp;</label>
                  <input type="radio" name="radiobtn" style="height:35px; width:15px; vertical-align: middle;"><label class="text-white">Other Matrimonial site &nbsp;&nbsp;</label>
                  <input type="radio" name="radiobtn" style="height:35px; width:15px; vertical-align: middle;"><label class="text-white">Through Other site</label>
                </form>
              </div>
            </div>
            </div>
  <button class="lastbtn">Delete My Profile</button>
        
      
      
    
  
</div>
</div>
</div>
</div>
</div>

