<div class="container-fluid" >
    <div class="row">
      <div class="col-lg-3" style="padding-right:0px">
  <app-leftsidenav></app-leftsidenav>
      </div>
  
  <div class=col-lg-9 style="padding-right:0px">
  <div style="background-size:cover;">
      <main role="main" >
          <div><app-header></app-header></div>
          <div style=" height:1359px; width:997px;background-image:url(assets/images/abt.png);float:left;">
              <div  class="innerbox">
  
  <!--  body  -->
          <div class="btncls">
              <button  class="btns" >Edit profile</button>
              <button  class="btns">Partner Preference</button>
              <button  class="btns">Manage photos</button>
          </div>

          <div class="linebox">
              <div class="imgdiv">
                  <img class="boximg"src="assets/images/ali-muhamad-vAyDuvcjXcs-unsplash.jpg">
              </div>
              <div class="content">
                <h4 class="h4text">Name</h4>
                <hr>
                <span class="verticalline"></span>
                <span class="verticalline"></span>
                <div style="text-align: center; color:white"><span>calicut</span>&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;&nbsp;<span>kerala</span>&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;&nbsp;<span>India</span>
                </div>
                
                <!--     form   -->
                <form class="form-inline" action="/action_page.php">
                    <div class="form-group" style="color:white;">
                      <label for="maritalstatus">Marital status</label><label class="lb1">:</label>
                      <input type="text" class="form-control formtypes" id="maritalstatus" placeholder="" name="maritalstatus" >
                    </div>
                    <div class="form-group" style="color:white;">
                      <label for="relegion">reliogion</label><label class="lb2">:</label>
                      <input type="text" class="form-control formtypes" id="relegion" placeholder="" name="relegion">
                    </div>
                    
                    <div class="form-group" style="color:white;">
                        <label for="education">Education</label><label class="lb3">:</label>
                        <input type="text" class="form-control formtypes" id="education" placeholder="" name="education">
                    </div>
                    <div class="form-group" style="color:white;">
                        <label for="relegion">Job Profession</label><label class="lb4">:</label>
                        <input type="text" class="form-control formtypes" id="job" placeholder="" name="job">
                    </div>
                    
                  </form>
              </div>
          </div>

<!-- edit profile personal information -->

<div>
  <button type="button" (click)=personalinfo() class="btn btn-block personaldiv">
     <!-- {{?"<img src="assets/images/Vector (3).png">":"^"}}  -->
     {{visiblepersonal?"Personal Informations":"Personal Informations"}}
  </button>

<!--   -->
<div *ngIf="visiblepersonal"> 

  <div id="personaldiv"><br>
    
    
      <div class="innerdiv">
      <form class="form-inline" action="/action_page.php">
        <div class="form-group" style="color:white;">
          <label for="name">Name</label><label class="div1lb1">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="name" placeholder="" name="name" >
        </div><br>
        <div class="form-group" style="color:white;">
          <label for="age">age</label><label class="div1lb2">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="age" placeholder="" name="age">
        </div>
        <div class="form-group" style="color:white;">
          <label for="maritalstatus">Marital status</label><label class="div1lb3">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="maritalstatus" placeholder="" name="maritalstatus" >
        </div>
        <div class="form-group" style="color:white;">
          <label for="relegion">reliogion</label><label class="div1lb4">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="relegion" placeholder="" name="relegion">
        </div>
        
        <div class="form-group" style="color:white;">
            <label for="nationality">Nationality</label><label class="div1lb5">:</label>
            <input type="text" class="form-control personaldivinputtypes" id="nationality" placeholder="" name="nationality">
        </div>
        <div class="form-group" style="color:white;">
          <label for="relegion">Language Spoken</label><label class="div1lb6">:</label>
            <input type="text" class="form-control personaldivinputtypes" id="job" placeholder="" name="job">
            <!-- <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
              </div>
            </div> -->
        </div>
        <div class="form-group" style="color:white;">
          <label for="nationality">About me</label><label class="div1lb7">:</label><br>
          <textarea class="personaldivinputtypes" id="aboutme" placeholder="" name="aboutme" style="width:204px;"></textarea>
        </div>
        
          <button type="submit" class="btn btn-default submitbtn">Save</button>
      </form>
    </div>
  </div>
</div>

<!-- edit profile physical information   -->

  <button type="button" (click)=physicalinfo() class="btn btn-block personaldiv">
    {{physical?"Physical Informations":"Physical Informations"}} 
 </button>

<div *ngIf="visiblephysical"> 

  <div id="personaldiv"><br>
    
    
      <div class="innerdiv">
      <form class="form-inline" action="/action_page.php">
        <div class="form-group" style="color:white;">
          <label for="name">height</label><label class="div2lb1">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="name" placeholder="" name="name" >
        </div><br>
        <div class="form-group" style="color:white;">
          <label for="age">weight</label><label class="div2lb2">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="age" placeholder="" name="age">
        </div>
        <div class="form-group" style="color:white;">
          <label for="maritalstatus">Physical status</label><label class="div2lb3">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="maritalstatus" placeholder="" name="maritalstatus" >
        </div>
        <div class="form-group" style="color:white;">
          <label for="relegion">Body type</label><label class="div2lb4">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="relegion" placeholder="" name="relegion">
        </div>
        
        <div class="form-group" style="color:white;">
            <label for="nationality">Appearence</label><label class="div2lb5">:</label>
            <input type="text" class="form-control personaldivinputtypes" id="nationality" placeholder="" name="nationality">
        </div>
        <div class="form-group" style="color:white;">
          <label for="relegion">Complexion</label><label class="div2lb6">:</label>
            <input type="text" class="form-control personaldivinputtypes" id="job" placeholder="" name="job">
            <!-- <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
              </div>
            </div> -->
        </div>
        <div class="form-group" style="color:white;">
          <label for="nationality">Blood group</label><label class="div2lb7">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="nationality" placeholder="" name="nationality">
      </div>
      <div class="form-group" style="color:white;">
        <label for="nationality">Eye colour</label><label class="div2lb8">:</label>
        <input type="text" class="form-control personaldivinputtypes" id="nationality" placeholder="" name="nationality">
    </div>
        <div class="form-group" style="color:white;">
          <label for="nationality">Hair colour</label><label class="div2lb9">:</label><br>
          <textarea class="personaldivinputtypes" id="aboutme" placeholder="" name="aboutme" style="width:204px;"></textarea>
        </div>
        
          <button type="submit" class="btn btn-default submitbtn">Save</button>
      </form>
    </div>
  </div>
</div>

<!-- Education & Profession -->

 <button type="button"  (click)=educationinfo() class="btn btn-block personaldiv">Education & Profession
  <!-- {{education?"Education & Profession":"Education & Profession"}}  -->
  {{education?"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>":"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<"}}
</button>

<div *ngIf="visibleeducation"> 

  <div id="personaldiv"><br>
    
      <div class="innerdiv">
      <form class="form-inline" action="/action_page.php">
        <div class="form-group" style="color:white;">
          <label for="name">Heighest Education</label><label class="div3lb1">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="name" placeholder="" name="name" >
        </div><br>
        <div class="form-group" style="color:white;">
          <label for="age">Education Detail</label><label class="div3lb2">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="age" placeholder="" name="age">
        </div>
        <div class="form-group" style="color:white;">
          <label for="maritalstatus">Marital status</label><label class="div3lb3">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="maritalstatus" placeholder="" name="maritalstatus" >
        </div>
        <div class="form-group" style="color:white;">
          <label for="relegion">Education description</label><label class="div3lb4">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="relegion" placeholder="" name="relegion">
        </div>
        
        <div class="form-group" style="color:white;">
            <label for="nationality">Institution</label><label class="div3lb5">:</label>
            <input type="text" class="form-control personaldivinputtypes" id="nationality" placeholder="" name="nationality">
        </div>
        <div class="form-group" style="color:white;">
          <label for="relegion">Profession</label><label class="div3lb6">:</label>
            <input type="text" class="form-control personaldivinputtypes" id="job" placeholder="" name="job">
            <!-- <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
              </div>
            </div> -->
        </div>
        <div class="form-group" style="color:white;">
          <label for="nationality">Profession Type</label><label class="div3lb7">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="nationality" placeholder="" name="nationality">
      </div>
      <div class="form-group" style="color:white;">
        <label for="nationality">Profession Detail</label><label class="div3lb8">:</label>
        <input type="text" class="form-control personaldivinputtypes" id="nationality" placeholder="" name="nationality">
      </div>
      <div class="form-group" style="color:white;">
        <label for="nationality">Annual Income</label><label class="div3lb9">:</label>
        <input type="text" class="form-control personaldivinputtypes" id="nationality" placeholder="" name="nationality">
      </div>
        
      
        
          <button type="submit" class="btn btn-default submitbtn">Save</button>
      </form>
    </div>
  </div>
</div>


<!-- Family Details -->
<button type="button"  (click)=familyinfo() class="btn btn-block personaldiv">
  {{family?"Family Details":"Family Details"}} 
</button>
<div *ngIf="visiblefamily"> 

  <div id="personaldiv"><br>
    
    
      <div class="innerdiv">
      <form class="form-inline" action="/action_page.php">
        <div class="form-group" style="color:white;">
          <label for="name">Name</label><label class="div1lb1">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="name" placeholder="" name="name" >
        </div><br>
        <div class="form-group" style="color:white;">
          <label for="age">age</label><label class="div1lb2">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="age" placeholder="" name="age">
        </div>
        <div class="form-group" style="color:white;">
          <label for="maritalstatus">Marital status</label><label class="div1lb3">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="maritalstatus" placeholder="" name="maritalstatus" >
        </div>
        <div class="form-group" style="color:white;">
          <label for="relegion">reliogion</label><label class="div1lb4">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="relegion" placeholder="" name="relegion">
        </div>
        
        <div class="form-group" style="color:white;">
            <label for="nationality">Nationality</label><label class="div1lb5">:</label>
            <input type="text" class="form-control personaldivinputtypes" id="nationality" placeholder="" name="nationality">
        </div>
        <div class="form-group" style="color:white;">
          <label for="relegion">Language Spoken</label><label class="div1lb6">:</label>
            <input type="text" class="form-control personaldivinputtypes" id="job" placeholder="" name="job">
            <!-- <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
              </div>
            </div> -->
        </div>
        <div class="form-group" style="color:white;">
          <label for="nationality">About me</label><label class="div1lb7">:</label><br>
          <textarea class="personaldivinputtypes" id="aboutme" placeholder="" name="aboutme" style="width:204px;"></textarea>
        </div>
        
          <button type="submit" class="btn btn-default submitbtn">Save</button>
      </form>
    </div>
  </div>
</div>

<!-- Religious Information -->

<button type="button"  (click)=relegiousinfo() class="btn btn-block personaldiv">
  {{relegious?"Religious Information":"Religious Information"}} 
</button>

<div *ngIf="visiblerelegious"> 

  <div id="personaldiv"><br>
    
    
      <div class="innerdiv">
      <form class="form-inline" action="/action_page.php">
        <div class="form-group" style="color:white;">
          <label for="name">Name</label><label class="div1lb1">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="name" placeholder="" name="name" >
        </div><br>
        <div class="form-group" style="color:white;">
          <label for="age">age</label><label class="div1lb2">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="age" placeholder="" name="age">
        </div>
        <div class="form-group" style="color:white;">
          <label for="maritalstatus">Marital status</label><label class="div1lb3">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="maritalstatus" placeholder="" name="maritalstatus" >
        </div>
        <div class="form-group" style="color:white;">
          <label for="relegion">reliogion</label><label class="div1lb4">:</label>
          <input type="text" class="form-control personaldivinputtypes" id="relegion" placeholder="" name="relegion">
        </div>
        
        <div class="form-group" style="color:white;">
            <label for="nationality">Nationality</label><label class="div1lb5">:</label>
            <input type="text" class="form-control personaldivinputtypes" id="nationality" placeholder="" name="nationality">
        </div>
        <div class="form-group" style="color:white;">
          <label for="relegion">Language Spoken</label><label class="div1lb6">:</label>
            <input type="text" class="form-control personaldivinputtypes" id="job" placeholder="" name="job">
            <!-- <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
              </div>
            </div> -->
        </div>
        <div class="form-group" style="color:white;">
          <label for="nationality">About me</label><label class="div1lb7">:</label><br>
          <textarea class="personaldivinputtypes" id="aboutme" placeholder="" name="aboutme" style="width:204px;"></textarea>
        </div>
        
          <button type="submit" class="btn btn-default submitbtn">Save</button>
      </form>
    </div>
  </div>
</div>

<!-- contact details -->
<!-- <button type="button" class="personaldiv" (click)=contactinfo() class="btn btn-block">
  {{contact?"contact details":"contact details"}} 
</button> -->

<button type="button"  (click)=personalinfo() class="btn btn-block personaldiv">
  {{personal?"Physical Informations":"hi"}} 
</button>

<button type="button"  (click)=personalinfo() class="btn btn-block personaldiv">
  {{personal?"Physical Informations":"hi"}} 
</button>


</div>
         
<!-- </div> -->
              
  
