/* body{width:1476px;} */
.btns{height: 53px;
    width: 214px;
    margin-left: 49px;
    margin-top: 25px;
    border-radius: 16px;
    color:rgba(3, 80, 102, 1);
    background-color:white ;
    border-color: white;
    float: left;
}
.btnclas{
    width:220px;
    height:300px;
}
.linebox{
        height: 350px;
        width: 809px;
        left: 496px;
        margin-top: 145px;
        margin-left:35px;
        border-radius: 18px;
        border: 1px solid white;
}
.imgdiv{
    height: 348px;
    width: 341px;
    border-radius: 15.497406px;
}
.boximg{height: 296px;
    width: 290px;
    left: 529px;
    top: 299px;
    border-radius: 15.497406px;
    margin-left:27px;
    margin-top:27px;
    float: left;
    /* background-size:cover; */
}
.content{
    height: 297px;
    width: 467px;
    border-radius: 15.497406px;
    margin-left: 329px;
    margin-top: -320px;
    
    float: left;
}
hr{height:2px;border-width:0;color:white;background-color:white}
.h4text{
    text-align: center;
    color: white;
}
.verticalline{
  border-left: 2px solid white;
  height: 45px;
  margin-left: 157px;
}
.formtypes{
    
    background-color:transparent;
    border: 0px;
    margin-left:2px;
    
}
.lb1{margin-left: 108px;}
.lb2{margin-left: 140px;}
.lb3{margin-left: 131px;}
.lb4{margin-left: 100px;}
.innerbox{
        box-shadow: 20px 20px 50px 10px rgb(62 163 192 / 30%) inset;
             
              opacity: 6; 
              height: 98%;
              padding: 10px;
              margin-top: 10px;
              width:90%;
          margin-left: 50px;
          margin-top: 30px;
          border-radius: 18px;
  box-shadow: whitesmoke 0px 30px 40px -2em inset;
  Offset: -117.83px, 117.83px;
  background:rgba(255, 255, 255, 0.1);
  Offset: 117.83px, -117.83px;
  background:rgba(160, 170, 178, 0.1);
    }
#personaldiv{
    padding: 20px;
        box-shadow:
             inset 0 -3em 3em rgba(0,0,0,0.1),
                   0 0  0 2px rgb(255,255,255),
                   0.3em 0.3em 1em rgba(0,0,0,0.3);
        box-shadow: 20px 20px 50px 10px rgba(62, 163, 192, 0.3) inset;
        border: 1px solid whitesmoke;
        border-radius: 18px;
        width:809px;
        height: fit-content;
        margin-left: 35px;
    
}
.innerdiv{
    width: 500px;
    height: fit-content;
    margin-left: 105px;
    
}
.heading{
    margin-left: 262px;
    font-size: 26px;
    
}
.personaldivinputtypes{
    color:aliceblue;
    border: 0px;
    outline: none;
    border-bottom: 1px solid white;
    background:transparent;
}
.div1lb1{margin-left: 156px;}
.div1lb2{margin-left: 171px;}
.div1lb3{margin-left: 108px;}
.div1lb4{margin-left: 141px;}
.div1lb5{margin-left: 127px;}
.div1lb6{margin-left: 83px;}
.div1lb7{margin-left: 133px;}
.textarea{
    line-height: 20px;
    top: -12px;
    border: none;
    resize: none;
    margin-left: 2px;
    position: relative;
    padding: 0 2px;
    border-bottom: 2px solid red;
    height: 10px;
    width: 204px;
    margin-top: 20px;
}
.submitbtn{
    margin-left: 145px;
    margin-top: 19px;
    background-color: green;

    width:192px;
}

