/* body{width:fit-content;}  */
.rightbg{
    height:fit-content; 
    width:1015px;
    /* background-image:url("assets/images/abt.png"); */
    float:left;
    background-repeat: no-repeat; 
    height:fit-content; 
    /* background-size: auto; */
    background-size: cover;
}
.btns{height: 53px;
    width: 214px;
    margin-left: 49px;
    margin-top: 25px;
    border-radius: 16px;
    color:rgba(3, 80, 102, 1);
    background-color:white ;
    border-color: white;
    float: left;
}
.btnclas{
    width:220px;
    height:300px;
}
.linebox{
        height: 350px;
        width: 809px;
        left: 496px;
        margin-top: 145px;
        margin-left:35px;
        border-radius: 18px;
        border: 1px solid white;
}
.imgdiv{
    height: 348px;
    width: 341px;
    border-radius: 15.497406px;
}
.boximg{height: 296px;
    width: 290px;
    left: 529px;
    top: 299px;
    border-radius: 15.497406px;
    margin-left:27px;
    margin-top:27px;
    float: left;
    /* background-size:cover; */
}
.content{
    height: 297px;
    width: 467px;
    border-radius: 15.497406px;
    margin-left: 329px;
    margin-top: -320px;
    
    float: left;
}
hr{height:2px;border-width:0;color:white;background-color:white}
.h4text{
    text-align: center;
    color: white;
}
.verticalline{
  border-left: 2px solid white;
  height: 45px;
  margin-left: 157px;
}
.formtypes{
    
    background-color:transparent;
    border: 0px;
    margin-left:2px;
    
}
.lb1{margin-left: 108px;}
.lb2{margin-left: 140px;}
.lb3{margin-left: 131px;}
.lb4{margin-left: 100px;}
.innerbox{
        box-shadow: 20px 20px 50px 10px rgb(62 163 192 / 30%) inset;
             
              opacity: 6; 
              height: 98%;
              padding: 10px;
              margin-top: 10px;
              width:90%;
          margin-left: 50px;
          margin-top: 30px;
          border-radius: 18px;
  box-shadow: whitesmoke 0px 30px 40px -2em inset;
  Offset: -117.83px, 117.83px;
  background:rgba(255, 255, 255, 0.1);
  Offset: 117.83px, -117.83px;
  background:rgba(160, 170, 178, 0.1);
    }
.personaldiv{
        box-shadow: 20px 20px 50px 10px rgb(62 163 192 / 30%) inset;
             
              opacity: 6; 
              height: 98%;
              padding: 10px;
              margin-top: 10px;
              width:90%;
          margin-left: 50px;
          margin-top: 30px;
          border-radius: 18px;
  box-shadow: whitesmoke 0px 30px 40px -2em inset;
  Offset: -117.83px, 117.83px;
  background:rgba(255, 255, 255, 0.1);
  Offset: 117.83px, -117.83px;
  background:rgba(160, 170, 178, 0.1);
  color: white;
}
.innerdiv{
    width: 500px;
    height: fit-content;
    margin-left: 105px;
}
.heading{
    margin-left: 262px;
    font-size: 26px;
}
.personaldivinputtypes{
    color:aliceblue;
    border: 0px;
    outline: none;
    border-bottom: 1px solid white;
    background:transparent;
}
.div1lb1{margin-left: 186px;}
.div1lb2{margin-left: 199px;}
.div1lb3{margin-left: 138px;}
.div1lb4{margin-left: 171px;}
.div1lb5{margin-left: 157px;}
.div1lb6{margin-left: 113px;}
.div1lb7{margin-left: 163px;}
.textarea{
    line-height: 20px;
    top: -12px;
    border: none;
    resize: none;
    margin-left: 2px;
    position: relative;
    padding: 0 2px;
    border-bottom: 2px solid red;
    height: 10px;
    width: 204px;
    margin-top: 20px;
}
.submitbtn{
    margin-left: 196px;
    margin-top: 19px;
    background-color: green;
    width:192px;
    border-radius: 21.24px
}
.div2lb1{margin-left: 186px;}
.div2lb2{margin-left: 184px;}
.div2lb3{margin-left: 131px;}
.div2lb4{margin-left: 164px;}
.div2lb5{margin-left: 151px;}
.div2lb6{margin-left: 153px;}
.div2lb7{margin-left: 151px;}
.div2lb8{margin-left: 162px;}
.div2lb9{margin-left: 160px;}

.div3lb1{margin-left: 100px;}
.div3lb2{margin-left: 121px;}
.div3lb3{margin-left: 135px;}
.div3lb4{margin-left: 87px;}
.div3lb5{margin-left: 158px;}
.div3lb6{margin-left: 155px;}
.div3lb7{margin-left: 123px;}
.div3lb8{margin-left: 118px;}
.div3lb9{margin-left: 133px;}

.div4lb1{margin-left: 174px;}
.div4lb2{margin-left: 147px;}
.div4lb3{margin-left: 207px;}
.div4lb4{margin-left: 167px;}
.div4lb5{margin-left: 135px;}
.div4lb6{margin-left: 205px;}
.div4lb7{margin-left: 164px;}
.div4lb8{margin-left: 129px;}
.div4lb9{margin-left: 168px;}
.div4lb10{margin-left: 169px;}
.div4lb11{margin-left: 126px;}
.div4lb12{margin-left: 135px;}
.div4lb13{margin-left: 75px;}
.div4lb14{margin-left: 85px;}
.div4lb15{margin-left: 124px;}
.div4lb16{margin-left: 118px;}
.div4lb17{margin-left: 177px;}
.div4lb18{margin-left: 106px;}
.div4lb19{margin-left: 161px;}
.div4lb20{margin-left: 152px;}
.div4lb21{margin-left: 133px;}

.div5lb1{margin-left: 198px;}
.div5lb2{margin-left: 217px;}
.div5lb3{margin-left: 161px;}
.div5lb4{margin-left: 160px;}
.div5lb5{margin-left: 153px;}
.div5lb6{margin-left: 178px;}
.div5lb7{margin-left: 131px;}
.div5lb8{margin-left: 156px;}
.div5lb9{margin-left: 184px;}
.div5lb10{margin-left: 87px;}
.div5lb11{margin-left: 88px;}

.div6lb1{margin-left: 105px;}
.div6lb2{margin-left: 89px;}
.div6lb3{margin-left: 98px;}
.div6lb4{margin-left: 68px;}
.div6lb5{margin-left: 207px;}
.div6lb6{margin-left: 174px;}
.div6lb7{margin-left: 189px;}
.div6lb8{margin-left: 201px;}

.div7lb1{margin-left: 207px;}
.div7lb2{margin-left: 224px;}
.div7lb3{margin-left: 213px;}
.div7lb4{margin-left: 235px;}
.div7lb5{margin-left: 223px;}
.div7lb6{margin-left: 206px;}




