<div class="container-fluid" >
  <div class="row">
    <div class="col-lg-3" style="padding-right:0px">
<app-leftsidenav></app-leftsidenav>
    </div>

  <div class=col-lg-9 style="padding-right:0px">
<div style="background-size:cover;">
    <main role="main" >
        <div><app-header></app-header></div>
        <div style=" height:1362px; width:1012px;background-image:url(assets/images/abt.png);float:left;">
            <div style="box-shadow: 20px 20px 50px 10px rgb(62 163 192 / 30%) inset;
           
            opacity: 6; 
            height: 98%;
            padding: 10px;
            margin-top: 10px;
            width:90%;
        margin-left: 50px;
        margin-top: 30px;
        border-radius: 18px;
box-shadow: whitesmoke 0px 30px 40px -2em inset;
Offset: -117.83px, 117.83px;
background:rgba(255, 255, 255, 0.1);
Offset: 117.83px, -117.83px;
background:rgba(160, 170, 178, 0.1);">


<!--  body  -->
        <div class="btncls">
            <button  class="btns" >Edit profile</button>
            <button  class="btns">Partner Preference</button>
            <button  class="btns">Manage photos</button>
        </div>
        <div class="linebox" col-md-12>
            <div >
                <img class="boximg"src="assets/images/ali-muhamad-vAyDuvcjXcs-unsplash.jpg">
            </div>
            <div>
                
            </div>

        </div>
            <div>
                <button type="button" class="btn btn-secondary btn-lg" style="width: 185px;
                margin-left: 349px;
                Fill: Solid#276678;
                Offset: 0px, 0.5px;
                background:rgba(0, 0, 0, 0.25);"
                data-toggle="modal" data-target="#exampleModalCenter">Hide My Profile</button>

                
                
                </div>
                      
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Are You Sure  you  Want  to Hide Your Profie </h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <!-- <div class="modal-body">
                              ...
                            </div> -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color:green; margin-right: 6.2rem; padding: 0.375rem 4.75rem;">Yes</button>
                              <button type="button" class="btn btn-primary" style="background-color:red;padding: 0.375rem 4.75rem;margin-right:10px">No</button>
                            </div>
                          </div>
                        </div>
                      </div>
       </div> 
</div></main></div></div></div></div>
